
:host ::ng-deep {
  nav > a {
      margin-top: 40px;

      .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
          border-radius: 7px 7px 0 0 !important;

          &.mat-tab-label-active {
              background-color: #4f49ae !important;
              color: white !important;
          }
      }

      .mat-tab-label-container {
          padding: 0;
      }

      mat-tab-body {
          background-color: white;
      }
  }
}
