<mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">

    <!-- Drawer -->
    <mat-drawer
        class="w-full sm:w-100 dark:bg-gray-900"
        [mode]="drawerMode"
        [opened]="false"
        [position]="'end'"
        [disableClose]="true"
        #matDrawer>
        <router-outlet></router-outlet>
    </mat-drawer>

    <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">

        <!-- Main -->
        <div class="flex flex-col flex-auto">

            <!-- Header -->
            <div *ngIf="false"
                class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
                <!-- Title -->
                <div>
                    <div class="text-4xl font-extrabold tracking-tight leading-none">{{ title }}</div>
                </div>
            </div>

            <div class="w-full h-full">

                <!--<iframe class="w-full h-full" src="https://ws.mineco.gob.pe/portaldf/apps/webappviewer/index.html?id=c12acab8ebcf4949979b8f6d7717ce7e" frameborder="0"></iframe>-->
                <iframe class="w-full h-full" [src]="url" frameborder="0"></iframe>
            </div>

        </div>

    </mat-drawer-content>

</mat-drawer-container>
