
.mat-mdc-header-cell:first-child {
    text-align: left;
    width: 210px;
}

.mat-mdc-cell:first-child {
    text-align: left;
    width: 210px;
}

.mat-mdc-header-cell, .mat-mdc-cell {
    text-align: center;
    width: 100px;
}
