<app-select-icomes-table selectedTable="RT_ARANCEL"></app-select-icomes-table>

<table mat-table [dataSource]="dataSource" class="shadow bg-card w-full">
  <ng-container matColumnDef="nro">
      <th mat-header-cell *matHeaderCellDef> Nro.</th>
      <td mat-cell *matCellDef="let element; let i = index">
          {{ (pageIndex * pageSize) + i + 1 }}
      </td>
  </ng-container>

  <ng-container matColumnDef="ubigeo">
    <th mat-header-cell *matHeaderCellDef> Ubigeo </th>
    <td mat-cell *matCellDef="let element">
        {{ element.ubigeo }}
    </td>
  </ng-container>

  <ng-container matColumnDef="anoEjec">
    <th mat-header-cell *matHeaderCellDef> Año Ejec </th>
    <td mat-cell *matCellDef="let element">
        {{ element.anoEjec }}
    </td>
  </ng-container>

  <ng-container matColumnDef="sectorCatastral">
    <th mat-header-cell *matHeaderCellDef> sect. Catastral </th>
    <td mat-cell *matCellDef="let element">
        {{ element.sectorCatastral }}
    </td>
  </ng-container>

  <ng-container matColumnDef="arancel">
    <th mat-header-cell *matHeaderCellDef> Arancel </th>
    <td mat-cell *matCellDef="let element">
        {{ element.arancel }}
    </td>
  </ng-container>

  <ng-container matColumnDef="anoXProcesar">
    <th mat-header-cell *matHeaderCellDef> Año por procesar </th>
    <td mat-cell *matCellDef="let element">
        {{ element.anoXProcesar }}
    </td>
  </ng-container>


  <ng-container matColumnDef="arancelActual">
    <th mat-header-cell *matHeaderCellDef> Arancel </th>
    <td mat-cell *matCellDef="let element">
        {{ element.arancelActual }}
    </td>
  </ng-container>

  <ng-container matColumnDef="idArancel">
    <th mat-header-cell *matHeaderCellDef> ID Arancel </th>
    <td mat-cell *matCellDef="let element">
        {{ element.estado }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="count"
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 50, 100, 250, 500]">
</mat-paginator>