<app-select-icomes-table selectedTable="RT_ARANCEL"></app-select-icomes-table>

<table mat-table [dataSource]="dataSource" class="shadow bg-card w-full">
  <ng-container matColumnDef="nro">
      <th mat-header-cell *matHeaderCellDef> Nro.</th>
      <td mat-cell *matCellDef="let element; let i = index">
          {{ (pageIndex * pageSize) + i + 1 }}
      </td>
  </ng-container>

  <ng-container matColumnDef="ubigeo">
    <th mat-header-cell *matHeaderCellDef> Ubigeo </th>
    <td mat-cell *matCellDef="let element">
        {{ element.ubigeo }}
    </td>
  </ng-container>

  <ng-container matColumnDef="documentoDesc">
    <th mat-header-cell *matHeaderCellDef> Tipo de Documento </th>
    <td mat-cell *matCellDef="let element">
        {{ element.documentoDesc }}
    </td>
  </ng-container>

  <ng-container matColumnDef="numDoc">
    <th mat-header-cell *matHeaderCellDef> Num. Documento </th>
    <td mat-cell *matCellDef="let element">
        {{ element.numDoc }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombres </th>
    <td mat-cell *matCellDef="let element">
        {{ element.nombre }}
    </td>
  </ng-container>

  <ng-container matColumnDef="apellidoPaterno">
    <th mat-header-cell *matHeaderCellDef> A. Paterno </th>
    <td mat-cell *matCellDef="let element">
        {{ element.apellidoPaterno }}
    </td>
  </ng-container>


  <ng-container matColumnDef="apellidoMaterno">
    <th mat-header-cell *matHeaderCellDef> A. Materno </th>
    <td mat-cell *matCellDef="let element">
        {{ element.apellidoMaterno }}
    </td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element">
        {{ element.estado }}
    </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Usuario </th>
    <td mat-cell *matCellDef="let element">
        {{ element.username }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="count"
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 50, 100, 250, 500]">
</mat-paginator>