 @import "styles/mixins";

:host ::ng-deep{
    @include mat-form-field-style;
    .mat-mdc-outlined-button:not([disabled=true]){
        border-color: #de2626 !important;
    }

    mat-label {
        font-size: 12px !important;
    }
}

:host{
    .container{
        background-color: white;
        padding: 10px 16px;
        border-radius: 4px 4px 0 0;
        margin-top: 5px;
        position: absolute;
        width: calc(100% - 20px);
        max-height: calc(100% - 20px);
        bottom: 10px;
        z-index: 1;
        
    }

    .subtitle-card{
        font-size: 16px;
        line-height: 15px;
        font-weight: 600;
        color: #1e293b;
        width: 100%;
        text-align: center;
    }
    .button-collapse{
        background-color: #54C8FA;
        padding: 7px 20px;
        border-radius: 8px 8px 0 0;
        position: absolute;
        top: -22px;
        left: calc(50% - 33px);
    }
    .triangle-top{
        display: block;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 12px solid white;
    }
    .triangle-bottom{
        display: block;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 12px solid white;
    }

    h3{
        mat-icon{
            color:#666699;
        }
    }
}