<section class="container" *ngIf="formEdit" [formGroup]="formEdit">
    <h3 class="subtitle-card mb-2">
            {{title}} <mat-icon [svgIcon]="isEdit? 'mat_solid:edit':'mat_solid:library_add'">
        </mat-icon></h3>
    
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
        <mat-label>Ubigeo</mat-label>
        <input matInput type="text" formControlName="ubigeo">
    </mat-form-field>

    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-3/12 pr-2.5">
        <mat-label>Tipo de Habilitación</mat-label>
        <input matInput type="text" formControlName="uuType">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-3/12 pr-2.5">
        <mat-label>Código de Habilitación</mat-label>
        <input matInput type="text" formControlName="codUu">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-4/12">
        <mat-label>Nombre de Habilitación</mat-label>
        <input matInput type="text" formControlName="habilitacionName">
    </mat-form-field>

    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-3/12 pr-2.5">
        <mat-label>Tipo vía</mat-label>
        <input matInput type="text" formControlName="streetType">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
        <mat-label>Codigo vía</mat-label>
        <input matInput type="text" formControlName="codStreet">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-7/12">
        <mat-label>Nombre de vía</mat-label>
        <input matInput type="text" formControlName="streetName">
    </mat-form-field>

    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
        <mat-label>Mz. urbana</mat-label>
        <input matInput type="text" formControlName="urbanMza">
    </mat-form-field>

    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
        <mat-label>Lt. urbano</mat-label>
        <input matInput type="text" formControlName="urbanLotNumber">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-3/12 pr-2.5">
        <mat-label>Nro. Bloque</mat-label>
        <input matInput type="text" formControlName="block">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-1/12 pr-2.5">
        <mat-label>Interior</mat-label>
        <input matInput type="text" formControlName="indoor">
    </mat-form-field>

    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
        <mat-label>Piso</mat-label>
        <input matInput type="text" formControlName="floor">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
        <mat-label>Km</mat-label>
        <input matInput type="text" formControlName="km">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
        <mat-label>Longitud</mat-label>
        <input matInput type="text" formControlName="longitude">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12">
        <mat-label>Latitud</mat-label>
        <input matInput type="text" formControlName="latitude">
    </mat-form-field>

    <div class="w-full flex items-center justify-end">
        <button class="btn-confirm mr-4" (click)="emitShowFormEdit()"> Guardar</button>
        <button class="btn-danger" (click)="emitShowFormEdit()">Cancelar</button>
    </div>

    <button class="button-collapse" (click)="emitShowFormEdit()">
        <span class="triangle-bottom"></span>
    </button>
</section>