<form class="container" *ngIf="formEdit && masterDomain" [formGroup]="formEdit">
    <h3 class="subtitle-card mb-2">
            {{ title?.text }}
            <mat-icon [svgIcon]="title?.icon">
        </mat-icon></h3>

    <div *ngIf="isEdit" class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-6/12 pr-2.5">
        <mat-slide-toggle [disabled]="!landActive" (change)="onToggleStatus($event)"
        color="primary" formControlName="status" class="mat-form-field-style">
            Estado del predio
        </mat-slide-toggle>
    </div>
<!--
    <mat-form-field *ngIf="!landMergeRecord?.id"
    class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-6/12 pr-2.5">
        <mat-label>Codigo Unico de predio</mat-label>
        <mat-icon
            class="icon-size-5 touched"
            (click)="searchLandByCPU()"
            [svgIcon]="'heroicons_solid:search'"
            matSuffix></mat-icon>
        <input matInput type="text" formControlName="cup">

    </mat-form-field>
-->
    <div *ngIf="isEdit && !f.status.value">
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-10/12">
            <mat-label>Motivo de la inactivacion del Predio  </mat-label>
            <textarea matInput formControlName="inactiveReason"></textarea>
        </mat-form-field>
    </div>

    <ng-container *ngIf="!hideInfoFields">
        <div *ngIf="showCartographicImg">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-6/12 pr-2.5">
                <mat-label>Copiar el Cod. de Imagen GIS en RSTM </mat-label>
                <input matInput type="text" formControlName="idCartographicImg" readonly>
            </mat-form-field>
        </div>

        <div *ngIf="showPlot">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-6/12 pr-2.5">
                <mat-label>Copiar el Codigo de Lote </mat-label>
                <input matInput type="text" formControlName="idPlot" readonly>
            </mat-form-field>
        </div>

        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-4/12 pr-2.5">
            <mat-label>Cod. predio municipal</mat-label>
            <input matInput type="text" formControlName="cpm">
            <mat-error *ngIf="formLand.get('cpm').hasError('required')">
                El campo es obligatorio.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-4/12 pr-2.5">
            <mat-label>Tipo Doc. Sustento</mat-label>
            <mat-select formControlName="resolutionType">
                <mat-option *ngFor="let domain of masterDomain.resolutionType" [value]="domain.id"> {{domain.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-4/12 pr-2.5">
            <mat-label>Nro. Doc. Sustento</mat-label>
            <input matInput type="text" formControlName="resolutionDocument">
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
            <mat-label>Ubigeo</mat-label>
            <input matInput type="text" formControlName="ubigeo" readonly>
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-3/12 pr-2.5">
            <mat-label>Tipo de Habilitación</mat-label>
            <input matInput type="text" formControlName="uuType">
            <mat-select formControlName="uuType">
                <mat-option *ngFor="let domain of masterDomain.uuType" [value]="domain.id"> {{domain.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!--
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-3/12 pr-2.5">
            <mat-label>Código de Habilitación</mat-label>
            <input matInput type="text" formControlName="codUu">
        </mat-form-field>
        -->
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-4/12 pr-2.5">
            <mat-label>Nombre de Habilitación</mat-label>
            <input matInput type="text" formControlName="habilitacionName">
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-3/12 pr-2.5">
            <mat-label>Tipo vía</mat-label>
            <mat-select formControlName="streetType" [disabled]="!landActive">
                <mat-option *ngFor="let domain of masterDomain.codStreet" [value]="domain.id"> {{domain.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
            <mat-label>Codigo vía</mat-label>
            <input matInput type="text" formControlName="codStreet">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-7/12 pr-2.5">
            <mat-label>Nombre de vía</mat-label>
            <input matInput type="text" formControlName="streetName">
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
            <mat-label>Mz. urbana</mat-label>
            <input matInput type="text" formControlName="urbanMza">
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
            <mat-label>Lt. urbano</mat-label>
            <input matInput type="text" formControlName="urbanLotNumber">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
            <mat-label>Nro. Puerta</mat-label>
            <input matInput type="text" formControlName="municipalNumber">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-3/12 pr-2.5">
            <mat-label>Nro. Bloque</mat-label>
            <input matInput type="text" formControlName="block">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
            <mat-label>Interior</mat-label>
            <input matInput type="text" formControlName="indoor">
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
            <mat-label>Piso</mat-label>
            <input matInput type="text" formControlName="floor">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
            <mat-label>Nro. Dpto</mat-label>
            <input matInput type="text" formControlName="apartmentNumber">
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
            <mat-label>Km</mat-label>
            <input matInput type="text" formControlName="km">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-4/12 pr-2.5">
            <mat-label>Longitud</mat-label>
            <input matInput type="text" formControlName="longitude">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-4/12">
            <mat-label>Latitud</mat-label>
            <input matInput type="text" formControlName="latitude">
        </mat-form-field>
    </ng-container>
    <div class="w-full flex items-center justify-end">
        <button class="btn-confirm mr-4" (click)="saveLand()" > Guardar</button>
        <button class="btn-danger" (click)="emitShowFormEdit()">Cancelar</button>
    </div>

    <button class="button-collapse" (click)="emitShowFormEdit()">
        <span class="triangle-bottom"></span>
    </button>
</form>
