<section class="container">
    <h3 class="subtitle-card mb-2">Predio</h3>
    
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
        <mat-label>Ubigeo</mat-label>
        <input matInput type="text">
    </mat-form-field>

    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-3/12 pr-2.5">
        <mat-label>Tipo de Habilitación</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-3/12 pr-2.5">
        <mat-label>Código de Habilitación</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-4/12">
        <mat-label>Nombre de Habilitación</mat-label>
        <input matInput type="text">
    </mat-form-field>

    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-3/12 pr-2.5">
        <mat-label>Tipo vía</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
        <mat-label>Codigo vía</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-7/12">
        <mat-label>Nombre de vía</mat-label>
        <input matInput type="text">
    </mat-form-field>

    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
        <mat-label>Mz. urbana</mat-label>
        <input matInput type="text">
    </mat-form-field>

    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
        <mat-label>Lt. urbano</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-3/12 pr-2.5">
        <mat-label>Nro. cuadra vía</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-1/12 pr-2.5">
        <mat-label>Lado</mat-label>
        <input matInput type="text">
    </mat-form-field>

    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
        <mat-label>Nro. Puerta</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12 pr-2.5">
        <mat-label>Nro. Dpto</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-2/12">
        <mat-label>Interior</mat-label>
        <input matInput type="text">
    </mat-form-field>

    <div class="w-full flex items-center justify-end">
        <button class="btn-confirm mr-4" (click)="emitShowFormEdit()"> Guardar</button>
        <button class="btn-danger" (click)="emitShowFormEdit()">Cancelar</button>
    </div>

    <button class="button-collapse" (click)="emitShowFormEdit()">
        <span class="triangle-bottom"></span>
    </button>
</section>