:host{
    .container{
        background-color: white;
        padding: 10px;
        border-radius: 8px;
        margin-top: 10px;
        position: absolute;
        width: calc(100% - 20px);
        bottom: 0;
        
    }
}