
.table-list ::ng-deep{
    margin-bottom: 0px;
    thead .mat-mdc-header-cell{
        color: white;
        background-color: #219EF9 !important;
        text-align: left;
        border-radius: 0 !important;

    }

    tbody .mat-mdc-cell {
        padding-left: 5px;
        text-align: left;
    }
    .mat-mdc-header-row {
        height: 48px;

    }
    .mat-mdc-row {
        height: 27px;
        text-align: center;
    }

.red-icon {
    color: #DE3F43;

}

.blue-icon {
    color: #0090F8;
}
}
