
.table-list ::ng-deep{
    margin-bottom: 0px;
    thead .mat-header-cell{
        color: white;
        background-color: #219EF9;
        padding-left: 5px;
        padding-right: 2px;
        text-align: center;

    }

    tbody .mat-cell {
        padding-left: 5px;
        padding-right: 2px;
    }
    .mat-header-row {
        height: 48px;

    }
    .mat-row {
        height: 27px;
        text-align: center;
    }

.red-icon {
    color: #DE3F43;

}

.blue-icon {
    color: #0090F8;
}
}
