<div class="flex">
    <div class="flex flex-col bg-white container-list-load text py-6 px-5 ">
        <div class="w-40 mb-4">
            <app-widget [card]="card"></app-widget>
        </div>

        <h2 class="text-xl font-bold">Manzanas crecimiento</h2>
        <div class="w-full mt-3">
            <app-table
                [dataSource]="dataSource"
                [columns]="tableColumns"
                [config]="tableConfig"
                (action)="onZoom($event)"
            >
            </app-table>
        </div>
    </div>

</div>

<div class="flex flex-auto">Mapa</div>

