img {
    border: 2px solid #E89027;
}

:host ::ng-deep{
    .carousel { position: absolute;height:100%;min-height: 100%;width:100%; }
    .carousel-slide{
        height:'600px'!important;
    }
    .carousel-slide-content{
        width:'400px'!important;
        height:'600px'!important;
    }

    .carousel-slide-overlay{
        min-width:'400px'!important;
        height:'600px'!important;
    }
}

.carousel-container {
    position: relative;
    overflow: hidden;

    background-color:'white' ;
    min-width:'400px';
    padding:'5px'
  }

  .carousel-item {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

  }

  .carousel-item.active {
    opacity: 1;
  }

.esri-view {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  #mapViewNode {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  :host ::ng-deep{

    div.esri-component.esri-legend.esri-widget.esri-widget--panel {
      max-width: 175px;
      background-color: rgba(255, 255, 255, 0.75);
     /* background-color: rgba(15, 15, 15, 0.75);*/
    }

  }
  object-contain{
    max-height: 100px;
  }
