img {
    border: 2px solid #E89027;
}

:host ::ng-deep{
    .carousel { position: absolute;height:100%;min-height: 100%;width:100%; }
    .carousel-slide{
        height:'600px'!important;
    }
    .carousel-slide-content{
        width:'400px'!important;
        height:'600px'!important;
    }

    .carousel-slide-overlay{
        min-width:'400px'!important;
        height:'600px'!important;
    }
}

.carousel-container {
    position: relative;
    overflow: hidden;

    background-color:'white' ;
    min-width:'400px';
    padding:'5px'
  }

  .carousel-item {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

  }

  .carousel-item.active {
    opacity: 1;
  }


.esri-view {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  #mapViewNode {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  :host ::ng-deep{

    div.esri-component.esri-legend.esri-widget.esri-widget--panel {
      max-width: 175px;
      background-color: rgba(255, 255, 255, 0.75);
     /* background-color: rgba(15, 15, 15, 0.75);*/
    }

    // div.esri-ui-top-left.esri-ui-corner .esri-component.esri-search.esri-widget {
    //     position: relative !important;
    //     top: -74px !important;
    //     left: 40px;
    // }
    // div.esri-expand__panel {
    //     position: relative !important;
    //     top: -40px !important;
    // }

  }
  object-contain{
    max-height: 100px;
  }
  /*
  select-ubigeo {
    visibility:visible;
    position: absolute;
    top: 95px;
    right: 315px;
  }*/
/*.select {

    background-color: #013492;

}*/


#fotosElement {
    position: relative;
    top: 10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.975);
    width: max-content;
    height: 750px !important;
    border-radius: 6px;
    overflow-y: auto
  }
//   #fotosElement div {
//     height: 650px !important;
//   }

  #fotosElement img {
    max-width: 100%;
    height: auto;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid black !important;
  }

