
.table-list ::ng-deep{
    margin-bottom: 16px;
    thead .mat-header-cell{
        color: white;
        background-color: #219EF9;
        padding-left: 5px;
        padding-right: 2px;
    }

    tbody .mat-cell {
        padding-left: 5px;
        padding-right: 2px;
    }

.red-icon {
    color: #DE3F43;

}

.blue-icon {
    color: #0090F8;
}
}
