
:host mat-tab-group ::ng-deep  mat-tab-header{
    padding-top:12px;

    .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label.mat-tab-label-active .mat-tab-label-content{
        color:#219EF9;
        font-weight: bold;
        font-size: 15px;
    }


    .mat-tab-label-container .mat-tab-list .mat-tab-labels > .mat-tab-label.mat-tab-label-active {

        background-color: transparent !important;
        border-bottom: solid 3px #219ef9;
        border-radius: 0 !important;
    }

    .mat-tab-label-container{
        padding: 0;
    }

}



:host mat-tab-group ::ng-deep{
    .mat-tab-body-content{
        padding: 2px;
        padding-top:10px;
    }
}

.table-list ::ng-deep{

    thead .mat-header-cell{
        color: white;
        background-color: #219EF9;

    }
}

.red-icon {
    color: #DE3F43;
}

.blue-icon {
    color: #0090F8;
}
