<div class="flex flex-col w-full">
    <div class="flex flex-col bg-gray-100">
        <div
            class="p-9 px-8 border-b bg-card text-5xl font-bold tracking-tight leading-none"
        >
            Predios sin georreferenciación
            <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
        </div>
    </div>
    <div class="flex gap-4 mt-14 w-100 px-6">
        <ng-container *ngFor="let card of cards">
            <app-card-deatail [styles]="card"></app-card-deatail>
        </ng-container>
    </div>
    <div class="flex gap-4 mt-7 w-full px-6">
        <div class="w-100">
            <div class="text">Buscar predio</div>
            <div
                class="flex border bg-white border-gary-100 py-2 px-4 rounded-lg my-2 border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 text-base"
            >
                <input
                    class="w-full"
                    placeholder="Código de predio, calle, unidad urbana..."
                />
                <span class="flex">
                    <mat-icon svgIcon="mat_outline:search"></mat-icon>
                </span>
            </div>
        </div>
        <button mat-button (click)="redirecto()">
            <mat-icon
                svgIcon="mat_solid:download"
                class="text-white"
            ></mat-icon>
            Descargar Excel
        </button>
        <div class="flex items-end py-2 gap-x-3">
            <button class="circle orange">
                <div class="circle__text">PENDIENTE</div>
            </button>
            <button class="circle green">
                <div class="circle__text">UBICADO</div>
            </button>
            <button class="circle red">
                <div class="circle__text">OBSERVADO</div>
            </button>
        </div>
    </div>
    <div class="p-6">
        <table
                mat-table
                [dataSource]="dataSource"
                class="shadow bg-card w-256"
            >
                <ng-container matColumnDef="nro">
                    <th mat-header-cell *matHeaderCellDef>Nro.</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{ element.nro }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="cod">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="no-hide-arrow"
                    >
                        Código único de Predio
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.cod }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="contribuyente">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="no-hide-arrow"
                    >
                        Contribuyente
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-left">
                        {{ element.contribuyente }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="direction">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                    >
                        Direccion
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.direction }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                    >
                        Estado
                    </th>
                    <td mat-cell *matCellDef="let element" class="pl-4" >
                        <div [ngSwitch]="element.estado">
                            <div *ngSwitchCase="'pendiente'">
                                <div class="circle orange m-0"></div>
                            </div>
                            <div *ngSwitchCase="'ubicado'">
                                <div class="circle green m-0"></div>
                            </div>
                            <div *ngSwitchCase="'observado'">
                                <div class="circle red m-0"></div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let row" class="px-6">
                        <ng-container>
                            <button class="button-map" (click)="redirecto()">
                            <mat-icon svgIcon="mat_outline:not_listed_location" class="text-white"></mat-icon>
                            </button>
                        </ng-container>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
    </div>

</div>

