<div class="mt-2">
    <div class="flex flex-row sm:flex-row items-end justify-end w-full max-w-xs sm:max-w-none">
        <mat-form-field
                class="fuse-mat-no-subscript w-full sm:w-72 sm:mt-0"
                [floatLabel]="'always'">
            <mat-icon
                    matPrefix
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input  [formControl]="searchControl"
                    placeholder="Buscar"
                    matInput>
            <mat-icon
                    *ngIf="searchControl.value != null"
                    (click)="clearSearchControl()"
                    matSuffix
                    class="icon-size-5 cursor-pointer"
                    svgIcon="heroicons_solid:x"
                    ></mat-icon>
        </mat-form-field>
    </div>
</div>
