:root {
    ---black:#1E293B;
}

.title-primary {
    font-weight: bold;
    color: var(---black);
    font-size: 18px;
}

.text-secundary {
    color: var(---black);
    font-size: 14px;
}


.arrow-back {
    color: #0090F8;
}

input{
    outline: none;
}



