<div class="flex flex-row gap-4 justify-start my-4" [formGroup]="formFilters">
  <mat-form-field class="fuse-mat-no-subscript fuse-mat-dense w-4/12 input-icon-form">
      <input type="search" matInput formControlName="search"
             placeholder="Buscar por Nombres o Documento"
             autocomplete="off">
      <mat-select formControlName="view" matPrefix
      (selectionChange)="onChangeView()">
        <mat-option [value]="'predio'">Predios</mat-option>
        <mat-option [value]="'Contribuyente'">Contribuyente</mat-option>
      </mat-select>
      <mat-icon
        [matTooltip]="'Mostrar contraseña'"
        class="hidden sm:flex icon-size-5"
        [svgIcon]="'heroicons_solid:x'"
        (click)="onCleanSearch()"
      ></mat-icon>
      <button mat-flat-button
      [color]="'primary'"
      (click)="onClickSearch()"
      >
        <mat-icon svgIcon="heroicons_outline:search"></mat-icon>
      </button>
  </mat-form-field>

  <div class="fuse-mat-no-subscript fuse-mat-dense w-4/12">
    <select-ubigeo *ngIf="!hideSelectUbigeo"
    (ubigeoSelected)="onSelectUbigeo($event)"></select-ubigeo>
  </div>

</div>
<app-search-owner-table
[dataSource]="dataSource"
[length]="lengthOwner"
(changePage)="onChangePage($event)"
(showLandsTable)="onShowLandsTable($event)"></app-search-owner-table>

<app-search-land-table *ngIf="showLandsTable"
[dataSource]="dataSourceLands"
[length]="lengthLandsOwner"
(changePage)="onChangePageLand($event)"
(showLandMap)="onShowLandsMap($event)"></app-search-land-table>

<div class="container-panel flex w-full"  *ngIf="showLandsMap"   [ngStyle]="{'padding': (landRecord && landOwner)? '10px': '0'}">
  <div class="map-container">
    <app-show-map-point  *ngIf="showLandsMap" [points]="[{ latitude: landRecord?.latitude, longitude: landRecord?.longitude }]" [landRecord]="landRecord" [landOwner]="landOwner" ></app-show-map-point>
  </div>
  <div class="flex flex-col px-4 w-2/5" *ngIf="landRecord && landOwner" style="min-height: 400px;">
    <app-detail-predio [landRecord]="landRecord" [landOwner]="landOwner" [builtArea]="builtArea" ></app-detail-predio>
    <button mat-flat-button [color]="'primary'"
    (click)="onDowloandCroquis()" >
      <mat-icon svgIcon="heroicons_outline:printer"></mat-icon>
      <span class="ml-2 mr-1">CROQUIS</span>
    </button>
  </div>

</div>
