<!--<ng-container *ngIf="points">
  <p *ngFor="let point of points">
    {{ point.latitude }}, {{ point.longitude }}
  </p>
</ng-container>-->


<div #mapViewNode  ></div>
<!--
<div id="screenshotDiv" >
    <button id="screenshotBtn" class="action-button esri-widget" (click)="downloadPDF()">
      Take Screenshot
  </button>
  <div id="divDownloadPDF" style="visibility: 'hidden';">
    HOLASSS
    <div>Hola como estas </div>
    <img  id="screenshotImage"  src="" alt="Girl in a jacket" width="500" height="600">
    </div>
  </div>
-->


<link
  rel="stylesheet"
  href="https://js.arcgis.com/4.17/esri/themes/light/main.css"
/>
