@import 'styles/mixins';

.container {
   @include container();
}

:host ::ng-deep {
    table.table-base {
        @include table_style(var(--mef-c-header));
     }
    mat-form-field {
        margin: 8px !important;
    }
    mat-form-field .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
        height: 0 !important;
    }
}

:host {
    .button-success {
        padding: 8px 20px;
        background-color: #0bbde5;
        color: white;
        border-radius: 6px;
        display: flex;
        padding-right: 8px;

        mat-icon {
            color: white;
        }

        &[disabled] {
            background-color: #C0C0C0;
            mat-icon {
                ::ng-deep {
                    svg {
                        path {
                            color:white !important;
                        }
                    }
                }
            }
        }
    }

}
