<!-- Items list -->
<ng-container *ngIf="navigation?.default?.length > 0; else noItems">
    <div class="flex flex-row gap-2" [ngClass]="{'flex-wrap': navigation?.default?.length > 3}"><!-- flex-wrap -->
        <!-- Items -->
        <ng-container *ngFor="let item of navigation?.default; trackBy:trackByFn">
           <div>
               <app-card-menu-item *ngIf="item.id !== 'home'"
               [bgColor]="'#f17171'"
               [item]="item"
               (eventPageRedirect)="redirectPage(item)">
               </app-card-menu-item>
           </div>
        </ng-container>

    </div>
</ng-container>

<!-- No items template -->
<ng-template #noItems>
    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
        <mat-icon
            class="icon-size-24"
            [svgIcon]="'iconsmind:file_hide'"></mat-icon>
        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Usted no tiene permisos
            asignados en el sistema!
        </div>
    </div>
</ng-template>
