@import 'styles/mixins';

:root {
    ---black: #1e293b;
}
.title-primary {
    font-weight: bold;
    color: var(---black);
    font-size: 18px;
}

:host .mat-mdc-button{
    background-color: #66BB6A;
    color: #FFFFFF;
    border-radius: 7px !important;
    width: 143px;
    font-size: 12px;
}

:host mat-icon.height ::ng-deep svg{
    height: 20px;
}



:host ::ng-deep{


    .mat-icon{
        cursor: pointer !important;

    }

}
