
.box {
    height: 22px;
    width: 22px;
}

.default{
    background-color: #DE3F43;

}


.obs{
    background-color: #ff6f00;

}

.complete {
    background-color: #66BB6A;
}


ul {
    height: calc(100vh - 200px);
    padding: 12px;
    display: flex;
    flex-direction: column;
    background-color: #E1F0FF;
    gap: 12px;
}

li {

    display: flex;
    padding: 12px;
    width: 396px;
    height: 45px;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;

}


.example-accordion-item-header,
.example-accordion-item-body {
  padding: 6px;
  display: flex;
}
.example-accordion-item-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #3da4ed;
    color: white;
    padding: 18px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.title-obs {
    background-color: #ff6f00;
    color: white;
    font-weight: bold ;
    padding: 10px 15px;
}
