
<div class="flex flex-col p-4 pb-2 w-100">
    <div class="flex  flex-row gap-x-4">
        <button class="green-button-solid" (click)="redirecto()">
            <mat-icon svgIcon="arrow_back_ios" class="arrow-back"></mat-icon>
        </button>
        <span class="title-primary">Asignacion de carga</span>

    </div>

    <span class="text-secundary mt-4">Manzanas asignadas - codigo: <strong> {{newCod}}</strong> </span>

    <div class="w-full mt-4">
        <app-table
        [dataSource]="dataSource"
        [columns]="tableColumns"
        [config]="tableConfig"
        (action)="onZoom($event)"
        >
        </app-table>
    </div>

    <div class="flex items-center justify-between  mt-4">
        <app-detail-operador [data] = "operator"></app-detail-operador>

    </div>
    <div class=" mt-2" *ngIf="_fecha">
        <h2 ><strong>Fecha de de entrega:</strong>  {{_fecha}}</h2>
    </div>

    <div class="flex w-full pt-4 gap-4 py-3 justify-between mt-4">
        <ng-container *ngFor="let card of cards">
            <app-widget [card]="card"></app-widget>
        </ng-container>

    </div>
</div>

