<section class="container">
    <article class="flex">
        <section class="input-btn-icon mr-6">
            <input type="search" placeholder="Codigo de contribuyente" [formControl]="search">
            <button (click)="searchOwner()">Buscar
                <mat-icon svgIcon="heroicons_outline:search">
                </mat-icon>
            </button>
        </section>

        <button class="btn-success box-shadow-z1"
        (click)="newOwner()"> Nuevo contribuyente
            <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
        </button>
    </article>
    <ng-container [ngSwitch]="showFormEdit">
        <app-owner-land-detail
            *ngSwitchCase="false"
            [landOwnerIn]="landOwner"
            (formEdit)="receivedShowFormEdit($event)">
        </app-owner-land-detail>

        <app-owner-land-create-and-edit
            *ngSwitchCase="true"
            [landOwnerIn]="landOwner"
            (showFormEdit)="receivedShowFormEdit($event)">
        </app-owner-land-create-and-edit>

        <ng-container *ngSwitchDefault>
            <app-search-placeholder texto="Ingrese un documento para buscar el propietario"></app-search-placeholder>
        </ng-container>
    </ng-container>

</section>
