<section class="container">
    <article class="flex">
        <section class="input-btn-icon mr-6">
            <input type="search" placeholder="Nro. Documento">
            <button>Buscar 
                <mat-icon svgIcon="heroicons_outline:search">                    
                </mat-icon>
            </button>
        </section>
        
        <button class="btn-success box-shadow-z1"
        (click)="receivedShowFormEdit(true)"> Nuevo contribuyente
            <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
        </button>
    </article>
    <ng-container *ngIf="!showFormEdit">
        <app-owner-land-detail (formEdit)="receivedShowFormEdit($event)"></app-owner-land-detail>
    </ng-container>
    <ng-container *ngIf="showFormEdit">
        <app-owner-land-create-and-edit (showFormEdit)="receivedShowFormEdit($event)"></app-owner-land-create-and-edit>
    </ng-container>
    
</section>
