<!-- <p>map works!</p> -->
<div #mapViewAOL>
    <div class="pointButtonCls esri-widget esri-widget--button esri-interactive"
        title="Seleccionar manzanas para generar carga" #pointButton>
        <span class="esri-icon-cursor"></span>
    </div>
    <div class="clearButtonCls esri-widget esri-widget--button esri-interactive" title="Limpiar selección"
        title="Limpiar seleccion" #clearSelection>
        <span class="esri-icon-trash"></span>
    </div>
</div>
<!-- add dark theme arcgis calcite -->
<link rel="stylesheet" href="https://js.arcgis.com/4.17/esri/themes/light/main.css" />
