@import 'styles/mixins.scss';

:host ::ng-deep {
    @include table-base;
    @include table-line-divider;

    table tbody td {
        font-size: 12px;
    }

    table.table-base {
        thead tr {
        box-shadow: none !important;      
        position: relative;
      }
        thead tr th:first-child{
            padding: 0 8px !important;
        }
       
        thead tr th {
            text-align: center;
            padding: 4px !important;
            background-color: #eef6fb !important;
            color: #01121e !important;
        }

    }

    table.table-line-divider {

        thead tr th,
        tbody tr td {
            border-right: solid 1px #e2e8f0;
        }

        tbody tr td {
            border-top: solid 2px #e2e8f0;
        }
    }


}

.block-via {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



:host ::ng-deep table tbody tr.predioSelected {
    background-color: #FFF7EC !important;
    position: relative;

    &::after {
        content: "";
        width: calc(100% + 22px);
        height: 100%;
        background-color: #FFF7EC;
        display: block;
        position: absolute;
        left: 0;
        z-index: 1;
        box-shadow: -3px 4px 4px rgb(145 143 143 / 42%);
    }

    td {
        position: relative;
        z-index: 2;
    }

    .block-via {
        section:nth-child(2) {
            .container-triangle {
                position: relative;
                right: -32px;

                .triangle {
                    border-left: 12px solid #666699;
                }
            }
        }
    }
}

.btn-detail:hover {
    background-color: var(mef-accent) !important;

    mat-icon {
        color: #5d99ab !important;
    }
}

.item-selected {
    color: #008DB8 !important;
}

  