<ng-container>
  <table mat-table [dataSource]="dataSource" class="table-base table-line-divider">
  
    <ng-container matColumnDef="nro">
      <th mat-header-cell *matHeaderCellDef> Nro.</th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{ (pageIndex * pageSize) + i + 1 }}
        </td>
    </ng-container>
  
    <ng-container matColumnDef="cup">
      <th mat-header-cell *matHeaderCellDef> Cod. único predio </th>
      <td mat-cell *matCellDef="let element"  class="text-center"> {{element.cup}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cpm">
      <th mat-header-cell *matHeaderCellDef> Cod. predio municipal </th>
      <td mat-cell *matCellDef="let element"  class="text-center"> {{element.cpm}} </td>
    </ng-container>

    <ng-container matColumnDef="steetName">
        <th mat-header-cell *matHeaderCellDef> Dirección </th>
        <td mat-cell *matCellDef="let element">
            <article class="block-via">
                <section>
                    <div *ngIf="element.latitude && element.longitude">
                      <mat-icon class="mr-2 text-green-600" svgIcon="feather:map-pin"></mat-icon>
                      <b>Cartografía asignada</b>
                    </div>
                    <div>{{element.ubigeo}}</div><!-- cambiar por departamento, provincia y distrito-->
                    <div>{{element.habilitacionName}}</div>
                    <div>{{element.steetName}}</div> <!-- direccion -->
                </section>
                <section>
                    <button class="container-triangle">
                        <span class="triangle"></span>
                    </button>
                </section>
            </article>
            
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="landSelection(row)"
        [class.predioSelected]="landSelected.has(row)"></tr>
  </table>
  <mat-paginator [length]="length"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="onPage($event)"
          >
  </mat-paginator>
</ng-container>