<div class="container">
  <table mat-table [dataSource]="dataSource" class="table-base table-line-divider">

    <ng-container matColumnDef="nro">
      <th mat-header-cell *matHeaderCellDef> Nro.</th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{ (pageIndex * pageSize) + i + 1 }}
        </td>
    </ng-container>

    <ng-container matColumnDef="cup">
      <th mat-header-cell *matHeaderCellDef> Cod. único predio </th>
      <td mat-cell *matCellDef="let element"  class="text-center"> {{element.cup}} </td>
    </ng-container>

    <ng-container matColumnDef="cpm">
      <th mat-header-cell *matHeaderCellDef> Cod. predio municipal </th>
      <td mat-cell *matCellDef="let element"  class="text-center"> {{element.cpm}} </td>
    </ng-container>

    <ng-container matColumnDef="print">
      <th mat-header-cell *matHeaderCellDef> Declaracion <br /> Jurada</th>
      <td mat-cell *matCellDef="let element"  class="text-center">
        <button
         *ngIf="element?.status!==3"
          mat-icon-button
          (click)="onDownloadDeclaration(element)">
          <mat-icon class="text-green-600" svgIcon="feather:printer"></mat-icon>
        </button>

      </td>
    </ng-container>

    <ng-container matColumnDef="steetName">
        <th mat-header-cell *matHeaderCellDef> Dirección </th>
        <td mat-cell *matCellDef="let element">
            <article class="block-via">
                <section class="m-2">
                    <div [ngSwitch]="element?.status">
                      <ng-container *ngSwitchCase="1">
                        <div class="text-mef-red bg-red-50 p-1 w-full rounded-sm flex items-end justify-center">
                          <mat-icon class="mr-1 text-mef-red icon-size-4 self-center" svgIcon="feather:map-pin"></mat-icon>
                          <b>Con cartografía asignada (Lote)</b>
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="2">
                        <div class="text-blue-600 bg-blue-50 p-1 w-full rounded-sm flex items-end justify-center" >
                          <mat-icon class="mr-2 text-blue-600 icon-size-4 self-center" svgIcon="feather:map-pin"></mat-icon>
                          <b>Con cartografía asignada (Punto Imagen)</b>
                        </div>
    
                      </ng-container>
                      <ng-container *ngSwitchCase="3">
                        <div class="text-gray-600 bg-gray-50 p-1 w-full rounded-sm flex items-end justify-center">
                          <mat-icon class="mr-2 text-gray-600 icon-size-4 self-center" svgIcon="feather:toggle-left"></mat-icon>
                          <b>Predio Inactivo</b>
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <div class="text-orange-600 bg-orange-50 p-1 w-full rounded-sm flex items-end justify-center">
                          <mat-icon class="mr-2 text-orange-600 icon-size-4 self-center" svgIcon="feather:x-circle"></mat-icon>
                          <b>Sin cartografía asignada</b>
                        </div>
                      </ng-container>
                    </div>
                    <div>{{element.ubigeo}}</div><!-- cambiar por departamento, provincia y distrito-->
                    <div>{{element.habilitacionName | titlecase}}</div>
                    <div>{{element.streetName}}</div> <!-- direccion -->
                </section>
                <section>
                    <button mat-icon-button btn-detail
                        #tooltip="matTooltip"
                        matTooltip="Ver en el mapa"
                        (click)="landSelection(element)"
                        class="btn-detail"
                     >
                        <mat-icon  [class.item-selected]="isIconClicked(element.cpm)" svgIcon="double_arrow"></mat-icon>
                    </button>
                </section>
            </article>

        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"

        [class.predioSelected]="landSelected.has(row)"></tr>
  </table>
</div>
<mat-paginator [length]="length"
[pageIndex]="pageIndex"
[pageSize]="pageSize"
[pageSizeOptions]="pageSizeOptions"
(page)="onPage($event)"
>
</mat-paginator>
