<div class="flex flex-col  my-4" >

    
<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="uploadfile">Adjuntar Resolución Municipal del proceso administrativo(*)</label>
<input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="uploadfile" type="file">
<!-- <mat-label> Adjuntar Resolución Municipal del proceso administrativo(*)</mat-label>

<input type="file" (change)="uploadFile($event)" hidden name="uploadfile"
id="uploadfile"  #uploadfile>

<button mat-flat-button
[color]="'primary'"
(click)="uploadfile.click()"
> Archivo
<mat-icon svgIcon="heroicons_outline:document-text"></mat-icon>
<h1 *ngIf="fileName">{{fileName}}</h1>
</button> -->
</div>


