


<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">
              {{ 'Predios sin georreferenciación' }}
            </div>
        </div>


    </div>
  <!-- Main -->
  <div class="flex flex-col">
    <div class="flex flex-row">
        <app-card-gap-menu-item
        [bgColor]="'#67b4f1'" [item]="item" >



        </app-card-gap-menu-item>


    </div>

<!--
<div class="flex flex-row space-x-4  ">
        <div class="w-1/2" ><app-search-land (agregarPredioEvent)="onAgregarPredio($event)"></app-search-land> </div>
        <div class="w-1/2" >
        <app-upload-support (fileEventEmit)="fileUpload($event)"></app-upload-support>


        </div>

    </div>

    <div class="w-full"> <app-land-maintenance-table [dataSource]="landRecords" (dataSourceUpdateEvent)="ondataSourceUpdate($event)" [isRemove]="false" [typeAction]="'leer'"></app-land-maintenance-table></div>


--> <div class="flex flex-row ">
    <div class="w-1/2"><app-search-land-without-geo-table></app-search-land-without-geo-table></div>
    </div>

    <div class="flex flex-row  ">

        <div class="w-full">

            <app-land-without-geo-table [dataSource]="dataSource"></app-land-without-geo-table>
        </div>
    </div>

</div>
</div>
