


<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">
              {{ 'Predios sin georreferenciación' }}
            </div>
        </div>


    </div>
  <!-- Main -->
  <div class="flex flex-col flex-auto p-6 sm:p-10 space-y-4 ">

            <div class="flex flex-row space-x-4  ">
                <app-card-gap-menu-item
                [bgColor]="'#67b4f1'" [item]="item" >
                </app-card-gap-menu-item>
            </div>


            <div class="flex flex-row space-x-4  ">
                <div class="w-1/2" ><app-search-land-without-geo-table (searchEvent)="onSearch($event)" (cleanSearchEvent)="onClearSearch()" ></app-search-land-without-geo-table> </div>

            </div>
            <div class="flex flex-row space-x-4  ">
                <div class="w-full"> <app-land-without-geo-table      [dataSource]="landRecords"
                    [length]="tableLength"
                    (changePage)="onChangePage($event)"></app-land-without-geo-table></div>
            </div>


</div>
</div>

