.snack-success {
    background-color: #4CAF50!important;
    color: white!important;

    mat-icon {
        margin-right: 10px!important;
    }

    span {
        background-color: transparent!important;
    }

}
