<p class="w-full"><button  mat-raised-button  class="btn-green"

    [routerLink]="'/land-inspection/gap-analisys/landwithoutgeo'"
    matTooltip="volver" [color]="'primary'">
    Volver al listado

    <mat-icon svgIcon="heroicons_outline:chevron-left"></mat-icon>
    </button>
</p>

<section class="container " *ngIf="land">



    <h3 class="subtitle-card mb-2">Datos del Predio</h3>
    <p class="w-full">
        <b>Código de Predio</b>
            {{ land?.cpm }}

    </p>

    <p class="w-full">

        <b>Código de vía:</b> {{ land?.codStreet }}
    </p>

    <p class="w-full">
        <b>Nombre de vía:</b> {{ land?.streetName }}
    </p>


    <p class="w-full">
        <b>Dirección:</b> {{land?.streetTypeName}} {{land?.streetName}} {{land?.municipalNumber}}
    </p>


    <div *ngIf="formEdit" [formGroup]="formEdit" class="w-full ">
        <h3 class="subtitle-card mb-2">Informacion Alternativa</h3>
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript mat-form-field-style w-full pr-2.5">
            <mat-label>Referencia</mat-label>
            <input matInput type="text" formControlName="referenceName">
        </mat-form-field>

        <div class="w-full flex items-center gap-4 mt-4">
            <button mat-flat-button  color="primary" (click)="saveLandNoReference()"><mat-icon svgIcon="heroicons_outline:search"></mat-icon> Predio no ubicable</button>
            <button mat-flat-button color="primary" (click)="newPointImg()"> Generar Punto Imagen</button>
            <button mat-flat-button  color="primary" (click)="asigLand()"> Asignar Predio</button>


        </div>

    </div>


</section>




<section class="container mt-4" *ngIf="land">
    <h3 class="subtitle-card mb-2">Datos del contribuyente</h3>
    <p class="w-full">
        <b>Contribuyente:</b>
            {{ land?.landOwner.name }} {{ land?.landOwner.paternalSurname }} {{land?.landOwner.maternalSurname }}

    </p>
    <p class="w-3/12"><b>{{ 'DNI' }} :</b> {{ land?.landOwner.dni }}</p>
    <p><b>Telefono:</b> {{ land?.landOwner.phone }}</p>
    <p class="w-full"><b>Email:</b> {{ land?.landOwner.email }}</p>


    <h3 class="subtitle-card mb-2 mt-6">

        <div (click)="showAddres = !showAddres" class="cursor-pointer flex items-center w-max">
            Domicilio Fiscal
            <mat-icon [svgIcon]="showAddres? 'heroicons_solid:chevron-up':'heroicons_solid:chevron-down'">
            </mat-icon>
        </div>

    </h3>


    <ng-container *ngIf="showAddres" >


        <p class="w-full">
            <b>Tipo de vía:</b> {{ land?.landOwner.address?.streetType }}

        </p>
        <p class="w-full">
            <b>Nombre de vía:</b> {{ land?.landOwner.address?.streetName }}
        </p>
        <p class="w-full"><b>Urbanización:</b> {{ land?.landOwner.address?.urbanMza }}</p>
        <p class="w-full">
            <b>Mz.</b>
            <b class="ml-2">Km. </b> {{ land?.landOwner.address?.km }}
            <b class="ml-2">Lt. </b> {{ land?.landOwner.address?.urbanLotNumber }}
            <b class="ml-2">Piso. </b> {{ land?.landOwner.address?.floor }}
            <b class="ml-2">Interior. </b> {{ land?.landOwner.address?.indoor }}

        </p>


    </ng-container>

</section>
