<div class="flex flex-col w-full">

    <!-- Header -->
    <div class="relative w-full h-20 sm:h-20 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700 flex justify-between">
        <!-- Background -->
        <ng-container *ngIf="user?.avatar">
            <img
                class="absolute inset-0 object-cover w-full h-full"
                [src]="user?.avatar">
        </ng-container>
        <!-- Close button -->
        <!-- <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6"> -->
            <button
                mat-icon-button class="btnClose"
                [matTooltip]="'Close'"
                [routerLink]="['../']">
                <mat-icon
                    class="text-blue-500"
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        <!-- </div> -->
    </div>


    <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
        <div class="w-full max-w-3xl">
            <form [formGroup]="userForm">
                <!-- Avatar -->
                <div class="flex flex-auto items-end -mt-16">
                    <div
                        class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">

                        <!-- Upload / Remove avatar -->
                        <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                        <div class="absolute inset-0 flex items-center justify-center z-20">
                            <div>
                                <input
                                    id="avatar-file-input"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                    type="file"
                                    [multiple]="false"
                                    [accept]="'image/jpg, image/jpeg, image/png'"
                                    (change)="uploadAvatar(avatarFileInput.files)"
                                    #avatarFileInput>
                                <label
                                    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                    for="avatar-file-input"
                                    matRipple>
                                    <mat-icon
                                        class="text-white"
                                        [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                </label>
                            </div>
                            <div>
                                <button
                                    mat-icon-button
                                    (click)="removeAvatar()">
                                    <mat-icon
                                        class="text-white"
                                        [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <!-- Image/Letter -->
                        <img
                            class="object-cover w-full h-full"
                            *ngIf="avatarUrl"
                            [src]="avatarUrl">
                        <div
                            class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                            *ngIf="!avatarUrl">
                            {{user?.username.charAt(0) || 'N'}}
                        </div>

                    </div>
                </div>

                <!-- Title -->
                <div
                    class="mt-3 text-4xl font-bold truncate">{{ id ? 'Editar usuario' : 'Nuevo usuario'}}</div>

                <div class="w-full mt-3">
                    <h2 class="title-centered-hr">Datos del usuario</h2>
                    <hr>
                </div>

                <!-- Personal Info -->
                <div class="mt-3">
                    <div class="space-y-4">
                        <div class="flex">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Institucion</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                <mat-select formControlName="institution">
                                    <ng-container *ngFor="let institute of institutes$ | async">
                                        <mat-option [value]="institute.id">{{ institute.name }}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <div class="space-y-4">
                        <div class="flex">
                            <mat-form-field
                                class="fuse-mat-no-subscript flex-auto flex-auto">
                                <mat-label>
                                    D.N.I.
                                </mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                                <input
                                    matInput
                                    required
                                    [formControlName]="'dni'"
                                    [placeholder]="'D.N.I.'"
                                    (blur)="onDniToUser()"
                                    >
                            <mat-error>
                                <ng-container *ngIf="f.dni.hasError('required')">DNI es requerido</ng-container>
                                <ng-container *ngIf="f.dni.hasError('maxLength')">Debe tener 8 caracteres</ng-container>
                                <ng-container *ngIf="f.dni.hasError('minLength')">Debe tener 8 caracteres</ng-container>
                            </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Personal Info -->
                <div class="mt-3">
                    <div class="space-y-4">
                        <div class="flex">
                            <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                <mat-label>
                                    Nombres
                                </mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                <input
                                    matInput
                                    [formControlName]="'firstName'"
                                    [placeholder]="'Nombre'"
                                    [spellcheck]="false">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Personal Info -->
                <div class="mt-3">
                    <div class="space-y-4">
                        <div class="flex">
                            <mat-form-field
                                class="fuse-mat-no-subscript flex-auto w-full">
                                <mat-label>Apellidos</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                <input
                                    matInput
                                    [formControlName]="'lastName'"
                                    [placeholder]="'Apellidos'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Emails -->
                <div class="mt-3">
                    <div class="space-y-4">
                        <div class="flex">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Correo Electronico</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                <input
                                    matInput
                                    type="email"
                                    [formControlName]="'email'"
                                    [placeholder]="'Correo Electronico'"
                                    [spellcheck]="false">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- puesto -->
                <div class="mt-3">
                    <div class="space-y-4">
                        <div class="flex">
                            <mat-form-field
                                class="fuse-mat-no-subscript flex-auto w-full">
                                <mat-label>Puesto laboral</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                <input
                                    matInput
                                    [formControlName]="'jobTitle'"
                                    [placeholder]="'Puesto laboral'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="w-full mt-3">
                    <h2 class="title-centered-hr">Cuenta</h2>
                    <hr>
                </div>

                <!-- Emails -->
                <div class="mt-3">
                    <div class="space-y-4">
                        <div class="flex">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>
                                    Rol <span>*</span>
                                </mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                <mat-select formControlName="role">
                                    <ng-container *ngFor="let role of roles$ | async">
                                        <mat-option [value]="role.id">{{ role.name }}</mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error>
                                    <ng-container *ngIf="f.role.hasError('required')">Debe seleccionar un rol</ng-container>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- usuario -->
                <div class="mt-3">
                    <div class="space-y-4">
                        <div class="flex">
                            <mat-form-field
                                class="fuse-mat-no-subscript w-full">
                                <mat-label>
                                    Usuario <span>*</span>
                                </mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden touched sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                <input
                                    matInput
                                    [formControlName]="'username'"
                                    [placeholder]="'Usuario'">
                                <mat-error>
                                    <ng-container *ngIf="f.username.hasError('required')">El nombre de usuario es requerido</ng-container>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>


                <!-- contraseña -->
                <div class="mt-3">
                    <div class="space-y-4">
                        <div class="flex">
                            <mat-form-field
                                class="fuse-mat-no-subscript w-full">
                                <mat-label>
                                    Contraseña <span>*</span>
                                </mat-label>
                                <mat-icon
                                    [matTooltip]="'Generar contraseña'"
                                    (click)="generatePassword()"
                                    matPrefix
                                    class="hidden touched sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:refresh'"></mat-icon>
                                <input
                                    matInput
                                    [type]="displayPassword.field"
                                    [formControlName]="'password'"
                                    [placeholder]="'Contraseña'">
                                <mat-icon
                                    matSuffix
                                    [matTooltip]="'Mostrar contraseña'"
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="displayPassword.icon"
                                    (click)="showPassword()"
                                ></mat-icon>
                                <mat-error>
                                    <ng-container *ngIf="f.password.hasError('required')">La contraseña es requerida</ng-container>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- contraseña -->
                <div class="mt-3">
                    <div class="space-y-4">
                        <div class="flex">
                            <mat-slide-toggle class="mat-toggle-confirm" [formControlName]="'isActive'">
                                Activo <span>*</span>
                            </mat-slide-toggle>
                            <mat-error>
                                <ng-container *ngIf="f.isActive.hasError('required')">Debe elegir un estado</ng-container>
                            </mat-error>
                        </div>

                        <div class="flex">
                            <mat-slide-toggle class="mat-toggle-confirm" [formControlName]="'isWebStaff'">
                                Acceso Web <span>*</span>
                            </mat-slide-toggle>
                            <mat-error>
                                <ng-container *ngIf="f.isWebStaff.hasError('required')">Debe elegir un estado</ng-container>
                            </mat-error>
                        </div>

                        <div class="flex">
                            <mat-slide-toggle class="mat-toggle-confirm" [formControlName]="'isMobileStaff'">
                                Acceso Móvi <span>*</span>
                            </mat-slide-toggle>
                            <mat-error>
                                <ng-container *ngIf="f.isMobileStaff.hasError('required')">Debe elegir un estado</ng-container>
                            </mat-error>
                        </div>
                    </div>
                </div>

                <div class="w-full mt-3">
                    <h2 class="title-centered-hr">Ambito</h2>
                    <hr>
                </div>

                <!-- Ambito -->
                <div class="mt-8">
                    <div class="space-y-4">
                        <div class="flex gap-4">
                            <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                <mat-label>Departamento</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:view-boards'"></mat-icon>
                                <mat-select formControlName="department">
                                    <ng-container *ngFor="let department of departments$ | async">
                                        <mat-option [value]="department.code">{{ department.name }}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                <mat-label>Provincia</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:view-boards'"></mat-icon>
                                <mat-select formControlName="province">
                                    <ng-container *ngFor="let province of provinces$ | async">
                                        <mat-option [value]="province.code">{{ province.name }}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                <mat-label>Distrito</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:view-boards'"></mat-icon>
                                <mat-select formControlName="district">
                                    <ng-container *ngFor="let district of districts$ | async">
                                        <mat-option [value]="district.code">{{ district.name }}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="w-full mt-3">
                    <h2 class="title-centered-hr">Detalles de cuenta</h2>
                    <hr>
                </div>

                <!-- Notes -->
                <div class="mt-8">
                    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                        <mat-label>Observaciones</mat-label>
                        <mat-icon
                            matPrefix
                            class="hidden sm:flex icon-size-5"
                            [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                        <textarea
                            matInput
                            [formControlName]="'observation'"
                            [placeholder]="'Observaciones'"
                            [rows]="5"
                            [spellcheck]="false"
                            matTextareaAutosize></textarea>
                    </mat-form-field>
                </div>

                <!-- Actions -->
                <div
                    class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                    <!-- Delete -->
                    <ng-container *ngIf="id">
                        <button
                            mat-button
                            [color]="'warn'"
                            [matTooltip]="'Eliminar usuario'"
                            (click)="delete()">
                            Eliminar
                        </button>
                    </ng-container>
                    <!-- Cancel -->
                    <button
                        class="ml-auto btn-confirm "
                        mat-flat-button
                        [color]="'primary'"
                        [matTooltip]="'Cancelar'"
                        [routerLink]="['../']">
                        Cancelar
                    </button>
                    <!-- Save -->
                    <button
                        class="ml-2 btn-green"
                        mat-flat-button
                        [color]="'primary'"
                        [matTooltip]="'Guardar / actualizar usuario'"
                        (click)="updateContact()">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>

</div>
