<div #mapViewNode  ></div>

<!--<div #toolbar id="toolbar" >HOLASSSS
    <div #mapGalleryBase id="mapGalleryBase"></div>
    <div  #maplayerList id="maplayerList" ></div>
</div>-->
<div id="screenshotDiv" class="esri-widget--button esri-widget esri-interactive" (click)="downloadPDF()" >
    <span aria-hidden="true" role="presentation" class="esri-icon esri-icon-printer"></span>
<!--<button id="screenshotBtn" class="action-button esri-widget" >
      Imprimir
</button>-->
</div>

<link
  rel="stylesheet"
  href="https://js.arcgis.com/4.17/esri/themes/light/main.css"
/>
