.esri-view {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  #mapViewNode {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }



  .esri-popup__inline-actions-container:only-child>.esri-popup__action, .esri-popup__inline-actions-container:only-child>.esri-popup__action-toggle {
     max-width: 100%!important;

}


.esri-view-width-less-than-medium .esri-popup__action-text {
   display: inline!important; 
}

.map-placeholder {
  z-index: 99;
  position: absolute;
  left: 93px;
    top: 131px;
}

:host ::ng-deep {


  .esri-component.esri-search.esri-widget{
    position: absolute !important;
    top: 0 !important;
    left: 6px !important;
  }
  
  .esri-ui-top-left.esri-ui-corner {
    bottom: 0 !important;
    right: 0 !important;
    left: 0;
    top: 0;
  }

  .esri-component.esri-zoom.esri-widget {
    display: flex;
    gap: 8px;
    background: transparent;
    bottom: 0 !important;
    right: 0;
    position: absolute;
  }
  .esri-zoom
  .esri-widget--button{
    border-radius: 4px;

    span {
      font-weight: 600;
    }
  }
}




.search {
  position:absolute;
  top: 64px;
  left: 32px;
  user-select: none;
  cursor: pointer;
  z-index: 100;
  width: 240px;
}