.esri-view {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  #mapViewNode {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }



  .esri-popup__inline-actions-container:only-child>.esri-popup__action, .esri-popup__inline-actions-container:only-child>.esri-popup__action-toggle {
     max-width: 100%!important;

}


.esri-view-width-less-than-medium .esri-popup__action-text {
   display: inline!important;
}

.map-placeholder {
  z-index: 99;
  position: absolute;
  top: 50px;
  left: 20px;
}

:host ::ng-deep {


//   .esri-component.esri-search.esri-widget{
//     position: absolute !important;
//     top: 0 !important;
//     left: 6px !important;
 // }

  .esri-ui-top-left.esri-ui-corner {
    left: 0;
    top: 40px !important;
  }

  .esri-component.esri-zoom.esri-widget {
    display: flex;
    gap: 8px;
    background: transparent;
    position: absolute;
  }
  .esri-zoom
  .esri-widget--button{
    border-radius: 4px;

    span {
      font-weight: 600;
    }
  }

  /* width & color of legend */
.esri-component.esri-legend.esri-widget.esri-widget--panel {
    max-width: 210px !important;
    /*background-color: rgba(15, 15, 15, 0.75);*/
  }

  .esri-legend__service {
    padding: 12px 10px !important;
  }
}




.search {
  position:absolute;
  top: 20px;
  left: 20px;
  user-select: none;
  cursor: pointer;
  z-index: 100;
  width: 65%;
  max-width: 300px;
}


