
:host .mat-mdc-dialog-actions ::ng-deep {
    justify-content: center;
    gap: 20px;

    .mat-mdc-button:first-child {
        background-color: #DE3F43;
        color: white;
    }

    .mat-mdc-button:last-child {
        background-color: #0090F8;
        color: white;
    }

}

:host ::ng-deep .mat-mdc-dialog-container {
    padding: 0;
}


.container-icon {
    position: absolute;
    left: 45%;
    top: -55%;
    background-color: #DE3F43;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
