<section class="container">
    <app-land-registry-geolocation></app-land-registry-geolocation>
    <ng-container *ngIf="showEditForm" >
        <app-land-create-and-edit
        [ownerId]="652"
        [landRecord]="landRecordIn"
        [landMapRecord]="landRecordOut"
        (showFormEdit)="receivedShowFormEdit($event)"></app-land-create-and-edit>
    </ng-container>
    <ng-container *ngIf="!showEditForm">
        <app-land-detail-summary
        [landRecord]="landRecordIn"
        (showFormEdit)="receivedShowFormEdit($event)"></app-land-detail-summary>
    </ng-container>
</section>
