<section class="container">
    <app-land-registry-geolocation></app-land-registry-geolocation>
    <ng-container  [ngSwitch]="showEditForm">
        <app-land-create-and-edit *ngSwitchCase="true"
            [ownerId]="ownerId"
            [landRecord]="landRecordIn"
            [landMapRecord]="landRecordOut"
            (registerLand)="registerLand($event)"
            (showFormEdit)="receivedShowFormEdit($event)">
        </app-land-create-and-edit>

        <app-land-detail-summary *ngSwitchCase="false"
            [landRecord]="landRecordIn"
            (showFormEdit)="receivedShowFormEdit($event)">
        </app-land-detail-summary>
    </ng-container>
</section>
