:host {
    .container{
        background-color: #FFF7EC;
        border-radius: 8px;
        padding:10px;
        height: 100%;
        position: relative;
        box-shadow: -3px 4px 4px rgb(145 143 143 / 42%);
    }
}