.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 36px 8px;
    border-radius: 0.375rem;
    width: 267px;

    &__title {
        color: #3F3F3F;
        font-size: 18px;
        font-weight: bold;
        width: 180px;
        text-align: center;
        margin-bottom: 16px;
        }
    &__number {
        font-size: 50px;
        font-weight: bold;
    }

}


