<div class="w-full gap-4 p-6 layout-block">
    <div class="categories-block">
        <div class="sub-block">
            <ng-container *ngFor="let category of categories; let i = index">
                <div [ngClass]="{active:category.active}" class="category" (click)="selectCategorie(category.id)">
                    Categoria {{category?.name}} {{ category?.id}}
                </div>
            </ng-container>


        </div>

    </div>

    <div class="gap-8   flex-auto  mt-4 ng-star-inserted">
        <mat-accordion class="max-w-4xl " multi>
            <div class="h-auto rounded-2xl overflow-hidden px-10 mb-3" *ngFor="let document of documents; let i = index">

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <p class="title"> {{ i + 1 }}. {{document.title}}</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="subtitle">{{document.description}}</p>
                    <div class="pt-4">
                        <img [src]="document.thumbnail" style="height: auto;">
                    </div>
                </mat-expansion-panel>
            </div>
        </mat-accordion>

        <div *ngIf="documents.length === 0" class="none-documents">
            <mat-icon class="icon-size-24" svgIcon="feather:search"></mat-icon>
            <div>
                No se encontraron resultados
            </div>
        </div>
        <div [hidden]="documents.length < 20 || documents.length === 0 ">
            <ng-content select="[paginator]"></ng-content>
        </div>

    </div>

</div>