@mixin  titlePanel(){
    font-size: 20px;
    font-family: "Inter var";
    color: #666699;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 3px;
}


@mixin table-border-radius(){
    table{
        border-radius:8px 8px 0 0;
    }
    table thead tr{
        th:nth-child(1){
            border-radius: 8px 0 0 0;
        }
        th:last-child{
            border-radius: 0 8px 0 0;
        }
        
    }
    table tbody tr:last-child{
        td:nth-child(1){
            border-radius: 0 0 0 8px;
        }
        td:last-child{
            border-radius:0 0  8px 0;
        }
    }
    mat-paginator{
        border-radius: 0 0 8px 8px;
    }
}

@mixin table-padding-4(){
    table tbody tr td, table thead tr th {
        padding:4px;
    }
}


@mixin table-hover(){
    table tbody tr:hover td{
        background-color: #6666991a;
    }
}


@mixin tavStyleActive(){
    nav .mat-tab-list .mat-tab-links a.mat-tab-label-active{
        opacity: 1;
        color: #666699;
        font-size: 16px;
    }
    mat-ink-bar{
        background-color: #666699 !important;
    }
}

@mixin button-style-icons-2(){
    .button-style-icons-2{
        color: #666699;
        mat-icon:nth-of-type(1){
            color:#666699;
        }
        mat-icon:nth-last-of-type(1){
            color:#39daff;
        }
    }
}