@mixin btn-styles(){
  button.btn-green{
    background-color: var(--mef-c-success) !important;  
  }

  button.btn-confirm{
    background-color: var(--mef-c-confirm) !important;  
  }
  
}

@mixin mat-toggle-styles(){
  
  mat-slide-toggle.mat-toggle-green.mat-slide-toggle.mat-checked{
    .mat-slide-toggle-bar{ 
      background-color: #66bb6a87 !important;
    }
   .mat-slide-toggle-thumb{
      background-color: var(--mef-c-success) !important;
    }
  }

  mat-slide-toggle.mat-toggle-confirm.mat-slide-toggle.mat-checked{
    .mat-slide-toggle-bar{ 
      background-color: #45b2ff7a !important;
    }
   .mat-slide-toggle-thumb{
      background-color: var(--mef-c-confirm) !important;
    }
  }
  
}


@mixin  titlePanel(){
    font-size: 20px;
    font-family: "Inter var";
    color: #666699;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 3px;
}


@mixin table-border-radius(){
    table{
        border-radius:8px 8px 0 0;
    }
    table thead tr{
        th:nth-child(1){
            border-radius: 8px 0 0 0;
        }
        th:last-child{
            border-radius: 0 8px 0 0;
        }
        
    }
    table tbody tr:last-child{
        td:nth-child(1){
            border-radius: 0 0 0 8px;
        }
        td:last-child{
            border-radius:0 0  8px 0;
        }
    }
    mat-paginator{
        border-radius: 0 0 8px 8px;
    }
}

@mixin table-padding-4(){
    table tbody tr td, table thead tr th {
        padding:4px;
    }
}


@mixin table-hover(){
    table tbody tr:hover td{
        background-color: #6666991a;
    }
}


@mixin tavStyleActive(){
    nav .mat-tab-list .mat-tab-links a.mat-tab-label-active{
        opacity: 1;
        color: #666699;
        font-size: 16px;
    }
    mat-ink-bar{
        background-color: #666699 !important;
    }
}

@mixin button-style-icons-2(){
    .button-style-icons-2{
        color: #666699;
        mat-icon:nth-of-type(1){
            color:#666699;
        }
        mat-icon:nth-last-of-type(1){
            color:#39daff;
        }
    }
}

@mixin block-icon(){
    .block-icon{
        display: flex;
        padding: 16px;
        border-radius: 7px;
        background-color: white;
        margin-bottom: 20px;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
        margin: 0 20px;
    
        .bgIcon{
          background-color: #e2e2f9;
          color: #666699,
        }
    
        .block-text{
          margin-left: 16px;
          display: flex;
          flex-direction: column;
          p{
            color: #666699;
          }
          h5{
            font-size: 24px;
            text-align: center;
            color: var(--mef-c-purple);
            font-weight: bold;
          }
    
        }
    
        &.green{
          .bgIcon{
            background-color: #e6f9e2;
            mat-icon{
              color: #779966;
            }
            
          }
          .block-text{
            p,h5{
              color: #779966;
            }
          
        }
      }
    
      &.blue{
        .bgIcon{
          background-color: #e2eef9;
          mat-icon{
            color: #668199;
          }
          
        }
        .block-text{
          p,h5{
            color: #668199;
          }
          
      }
    }
    }
}

@mixin box-shadow-z1{
  .box-shadow-z1{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
}

@mixin btn-basic-icon(){
    color: white;
    font-size: 14px;
    border-radius:8px;
    padding: 8px 16px;
    display: flex;
    mat-icon{
      color:white;
      margin-left: 10px;
    }
}

@mixin btn-success() {
  .btn-success{
    background-color: #90D05D;
    @include btn-basic-icon;
  }
}

@mixin btn-confirm() {
  .btn-confirm{
    background-color: #54C8FA;
    @include btn-basic-icon;
  }
}

@mixin btn-danger() {
  .btn-danger{
    background-color: #D77676;
    @include btn-basic-icon;
  }
}

@mixin input-btn-icon(){
  .input-btn-icon{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;

    input{
      padding: 8px 14px;
      font-size: 13px;
      color: #4E4E4E;
    }
    button{
      background-color: var(--mef-c-purple);
      color: white;
      font-size: 14px;
      border-radius:0 5px 5px 0;
      padding: 8px 16px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon{
        margin-left: 10px;
        color: white;
      }
    }
  }
}

/* ***  FORMS *** */

/* Reducir alto de inputs y aplicar focus */
@mixin mat-form-field-style(){
  mat-form-field.mat-form-field-style{
    .mat-form-field-wrapper {
      .mat-form-field-flex{
        min-height: 36px !important;
        padding: 0 10px !important;
      }
    }
    input{
      padding: 8px 0 !important;
    }
    mat-label{
      font-size: 13px !important;
    }
  }

  mat-form-field.mat-focused{
    mat-label{
      color: #666699 !important;
    }
  }
}


/* ***  TABLES *** */

@mixin table-base(){
  table.table-base{
    width: 100%;
    thead tr {
      box-shadow: 0px 4px 4px rgb(145 143 143 / 42%);      
      position: relative;
    }
    thead tr th{    
      position: relative;
    }
    thead tr th, tbody tr td{
      padding: 5px;
    }
    thead tr th{
      text-align: center;
    }
    
  }
}

@mixin table-line-divider(){
  table.table-line-divider{
    thead tr th, tbody tr td{
      border-right: solid 3px #F0F0F0;
    }
    thead tr th:last-child, tbody tr td:last-child{
      border-right:none;
    }
    tbody tr td{
      border-top: solid 6px #F0F0F0;
    }
    tbody tr:last-child td{
      border-top: none;
    }
  }
}