/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
* {
    box-sizing: border-box !important;
}
:root {
    --mef-c-red: #db4b4b;
    --mef-c-purple: #62626b;
    --mef-c-grey: #656364;
    --mef-c-confirm: #45b1ff;
    --mef-c-success: #4caf50;
    --mef-c-danger: #ad4c4c;
    --mef-c-blue-100: #e0e9f4;
    --mef-text-secondary: #0056ac;
    --mef-c-clean: #f28500;
    --mef-c-header: #007bff;
    --mef-c-header-secondary: #7e9098;
    --mef-c-inactive: #c0c0c0;
    --mef-c-btn-secondary: #005792;
    --mef-c-btn-accion: #02355c;
    --mef-c-cancel: #df1616;
    --mef-c-accept: #4caf50;
    --mef-cancel-btn-secondary: #f44336;
    --mef-alert: #ffa000;
    --mef-c-go: #007bff;
    --mef-c-filter: #f1faff;
}

.bg-mef {
    background-color: var(--mef-c-red) !important;
}

.bg-success {
    background-color: #66bb6a !important;
}

.bg-danger {
    background-color: #ad4c4c !important;
}

.bg-warning {
    background-color: #ad8b4c !important;
}

.bg-confirm {
    background-color: #4a68b3 !important;
}

.c-purple-mef {
    color: var(--mef-c-purple) !important;
}

.c-grey-mef {
    color: var(--mef-c-grey) !important;
}

.c-grey-red {
    color: var(--mef-c-red) !important;
}

.c-success {
    color: #66bb6a !important;
}

.c-danger {
    color: #ad4c4c !important;
}

.c-confirm {
    color: #45b1ff !important;
}

.c-white {
    color: white;
}

.touched {
    cursor: pointer;
}

.title-centered-hr {
    top: 1rem;
    position: relative;
    font-size: 16px;
    font-weight: 500;
}

/******************
Personalizacion

*******************/

.separador-footer {
    height: 88px;
    display: block;
    width: 100%;
}

.footer-fixed {
    position: fixed;
    width: 280px;
    bottom: 0;
    background-color: #000000;
}

.mat-mdc-header-cell {
    background: var(--mef-c-purple) !important;
    color: white !important;
    font-size: 12px !important;
    padding: 0px !important;
    padding-right: 16px !important;
}


.header-vertical {
    .mat-mdc-header-cell {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        white-space: nowrap;
        padding: 12px !important;
        text-align: left;
        vertical-align: middle;
        background: #f0f7fd !important;
        color: #161515 !important;
        border-left: 4px solid #fff;
    }

    .mdc-data-table__cell {
        padding: 12px !important;
    }
}
.header-table-default {
    table {
        border-collapse: inherit !important;
    }
    .mat-mdc-header-row {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    .mat-mdc-header-cell {
        border-bottom: 3px solid #b7b8c4 !important;
        background: white !important;
        color: #000000 !important;
        font-size: 14px !important;
        z-index: 20;
        padding-bottom: 12px !important;
        position: sticky;
        z-index: 11;
    }
}

.header-table-modal{
    .mat-mdc-header-row {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    table {
        border-collapse: inherit !important;
    }
    .mat-mdc-header-cell {
        border-bottom: 2px solid #b7b8c4 !important;
        background: white !important;
        color: #000000 !important;
        font-size: 14px !important;
        z-index: 11;
    }
}

.mdc-data-table__cell {
    padding: 0 !important;
    overflow-wrap: break-word !important;
}

.mat-mdc-header-cell:first-child {
    padding-left: 16px !important;
}

.mdc-data-table__cell:nth-child(1) {
    padding-left: 16px !important;
}

.snack-success {
    background-color: #4caf50 !important;
    color: white !important;

    mat-icon {
        color: white !important;
    }
}

.snack-error {
    background-color: rgb(182, 92, 92) !important;
    color: white !important;

    mat-icon {
        color: white !important;
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
mat-option.option-multiple-lines {
    height: auto;
    line-height: normal;
    padding: 15px;

    /* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
    &:hover:not(.mat-option-disabled) {
        background: rgb(192 231 255 / 46%) !important;
    }
}

.mat-form-field-personalized {
    .mat-mdc-form-field.mat-form-field-appearance-fill {
        /* Default style tweaks and enhancements */
        .mat-mdc-text-field-wrapper {
            border-width: 0px !important;
            background-color: #f5f8fa !important;
            .mat-mdc-form-field-flex {
                .mat-mdc-form-field-infix {
                    min-height: 47px !important;
                }
            }
        }
    }
}

.filter-secondary {
    .mat-mdc-form-field.mat-form-field-appearance-fill {
        /* Default style tweaks and enhancements */
        .mat-mdc-text-field-wrapper {
            border-width: 0px !important;
            background-color: #f1faff !important;
            .mat-mdc-form-field-flex {
                .mat-mdc-form-field-infix {
                    min-height: 47px !important;
                }
            }
        }
    }
}

.button-primary {
    color: #ffffff !important;
    background-color: #009ef7 !important;
}

.wrapper_loader {
    width: 100%;
    min-width: 100%;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow-wrap: inherit;
    display: flex;
    place-items: center;
    z-index: 1;
    opacity: 1;
    cursor: auto;
    pointer-events: auto;
}

.wrapper_loader--loading {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 500px !important;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow-wrap: inherit;
    display: flex !important;
    position: relative;
    z-index: 1;
    opacity: 0.5 !important;
    cursor: none !important;
    pointer-events: none !important;
}

.wrapper_loader--loading * {
    cursor: none !important;
    pointer-events: none !important;
}

.loader {
    align-self: center !important;
    position: absolute;
    top: 50%;
    left: 50%;
    color: red;
    font-size: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}

.wrapper_loader .loader {
    display: none;
}


@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
            0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
            0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
            0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
            0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
            0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
            0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em,
            2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em,
            -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
            0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
