/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

:root {
    --mef-c-red: #db4b4b;
    --mef-c-purple: #62626b;
    --mef-c-grey: #656364;
    --mef-c-confirm: #45B1FF;
    --mef-c-success: #4CAF50;
    --mef-c-danger: #ad4c4c;
    --mef-c-blue-100: #E0E9F4;
    --mef-text-secondary: #0056AC;
    --mef-c-clean: #F28500;
    --mef-c-header:#007bff;
    --mef-c-inactive: #C0C0C0;
}

.bg-mef {
    background-color: var(--mef-c-red) !important;
}

.bg-success {
    background-color: #66bb6a !important;
}

.bg-danger {
    background-color: #ad4c4c !important;
}

.bg-warning {
    background-color: #ad8b4c !important;
}

.bg-confirm {
    background-color: #4a68b3 !important;
}

.c-purple-mef {
    color: var(--mef-c-purple) !important;
}

.c-grey-mef {
    color: var(--mef-c-grey) !important;
}

.c-grey-red {
    color: var(--mef-c-red) !important;
}

.c-success {
    color: #66bb6a !important;
}

.c-danger {
    color: #ad4c4c !important;
}

.c-confirm {
    color: #45B1FF !important;
}

.c-white {
    color: white;
}


.touched {
    cursor: pointer;
}

.title-centered-hr {
    top: 1rem;
    position: relative;
    font-size: 16px;
    font-weight: 500;
}

/******************
Personalizacion

*******************/

.separador-footer {
    height: 88px;
    display: block;
    width: 100%;
}

.footer-fixed {
    position: fixed;
    width: 280px;
    bottom: 0;
    background-color: #000000;
}

.mat-mdc-header-cell {
    background: var(--mef-c-purple) !important;
    color: white !important;
    font-size: 12px !important;
    padding: 0px !important;
}

.mdc-data-table__cell {
    padding: 0 !important;
}

.mat-mdc-header-cell:first-child {
    padding-left: 16px !important;
}


.mdc-data-table__cell:nth-child(1) {
    padding-left: 16px !important;
}

.snack-success {
    background-color: #4CAF50 !important;
    color: white !important;

    mat-icon {
        color: white !important;
    }

}

.snack-error {
    background-color: rgb(182, 92, 92) !important;
    color: white !important;

    mat-icon {
        color: white !important;
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
mat-option.option-multiple-lines {
    height: auto;
    line-height: normal;
    padding: 15px;

    /* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
    &:hover:not(.mat-option-disabled) {
        background: rgb(192 231 255 / 46%) !important;
    }
}
