.container-list-load{
    width:410px;
    max-width: 440px;
}

:host .mat-button {
    position: absolute;
    bottom: 12px;
    right: 15px;
    background-color: #66BB6A ;
    color: #FFFFFF;
    border-radius: 7px !important;
    width: 163px;
}


:host app-widget-main ::ng-deep .title {
    width:94px !important;
}
