@import "styles/mixins";

@include btn-styles;

.input-icon-form{
  input{
      width: calc(100% - 63px) !important;
      margin-right: 25px;
  }
  button{
      border-radius: 0 5px 5px 0 !important;
      margin-right: -16px;
  }

}

.container{
  @include container();
}

:host ::ng-deep {
  table.table-base {
      @include table_style(var(--mef-c-header));
   }
}
