<div class="flex flex-col pb-4 md:flex-row md:gap-4 md:pb-0 justify-start" [formGroup]="search">
  <mat-form-field class="w-100">
    <input matInput placeholder=" Buscar por Código de predio único (*) " [matAutocomplete]="auto"
      formControlName="search" (keyup)="onChangeSearchPredio($event)">
    <mat-autocomplete  [displayWith]="displayFn" #auto="matAutocomplete" (optionSelected)='onSelectedPredio($event)' >
      <mat-option *ngFor="let option of landRecords " [value]="option">
        <b><small>{{option.cup}}|{{option.department}} - {{option.habilitacionName}}</small></b>
        <small> {{option.streetName}}</small>
      </mat-option>
    </mat-autocomplete>
    <button mat-flat-button (click)="onClickSearch()">
      <span class="text-md ml-2">Buscar</span>
      <mat-icon [matTooltip]="'Buscar'" class="icon-size-5" svgIcon="heroicons_outline:search">
      </mat-icon>
    </button>
  </mat-form-field>

  <button mat-button class="btn_clean hover:shadow-sm" (click)="onCleanSearch()">
    <mat-icon class="icon-size-4 text-white" svgIcon="mat_outline:cleaning_services"></mat-icon>
    <span class="ml-1">Limpiar</span>
  </button>

  <button mat-button
        [ngClass]="{'btn_active': cupSelect, 'btn_inactive': !cupSelect}"
        [disabled]="!cupSelect"
        (click)="onClickAgregarPredio()"
    >
    <mat-icon class="text-white" svgIcon="heroicons_outline:plus"></mat-icon>
    Agregar Predio
  </button>

</div>
