@import 'styles/mixins';

:host ::ng-deep{

    .input-icon-form{
        input{
            width: calc(100% - 63px) !important;
            margin-right: 25px;
        }
        button{
            border-radius: 0 5px 5px 0 !important;
            margin-right: -16px;
        }

    }


    .mat-select-panel mat-option.mat-option {
        height: unset;
      }

     .mat-option-text.mat-option-text {
        white-space: normal;
      }

}
