<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container (backdropClick)="onBackdropClicked()"
                          class="flex-auto h-full bg-card dark:bg-transparent">

        <!-- Drawer -->
        <mat-drawer
            class="w-full md:w-160 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">

            <!-- Main -->
            <div class="flex flex-col flex-auto">

                <!-- Header -->
                <div
                    class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">{{ title }}</div>
                    </div>

                    <!-- Main actions -->
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        <!-- Add contact button -->
                        <button
                            class="ml-4 btn-green"
                            mat-flat-button
                            (click)="redirectPage()"
                            [color]="'primary'">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Agregar usuario</span>
                        </button>
                    </div>

                </div>

                <div class="flex flex-col w-full gap-0 p-6">

                    <div
                        class="flex flex-row gap-2 sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none"
                        [formGroup]="filters">

                        <mat-form-field class="flex-auto">
                            <mat-label>Estado</mat-label>
                            <mat-icon
                                [svgIcon]="'heroicons_solid:view-boards'"></mat-icon>
                            <mat-select formControlName="is_active">
                                <mat-option>Todos</mat-option>
                                <mat-option [value]="true">Activo</mat-option>
                                <mat-option [value]="false">Inactivo</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-no-subscript flex-auto">
                            <mat-label>Roles</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:view-boards'"></mat-icon>
                            <mat-select formControlName="role">
                                <mat-option>Todos</mat-option>
                                <ng-container *ngFor="let role of roles$ | async">
                                    <mat-option [value]="role.id">{{ role.name }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <!--
                        <mat-form-field class="fuse-mat-no-subscript flex-auto" appearance="fill">
                            <mat-label>Fecha Inicio</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="init_date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-no-subscript flex-auto" appearance="fill">
                            <mat-label>Fecha Fin</mat-label>
                            <input matInput [matDatepicker]="picker3" formControlName="end_date">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                        -->
                    </div>

                    <div class="flex flex-row sm:flex-row w-full max-w-xs sm:max-w-none"
                         [formGroup]="search">
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-dense w-3/12 input-icon-form">

                            <input type="text" matInput formControlName="search"
                                   placeholder="Buscar por Municipalidad o Documento"
                                   autocomplete="off">
                            <mat-icon
                                [matTooltip]="'Mostrar contraseña'"
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:x'"
                                (click)="onCleanSearch()"
                            ></mat-icon>
                                <button mat-flat-button
                                [color]="'primary'"
                                (click)="onSearch()"
                                >
                                  <mat-icon svgIcon="heroicons_outline:search"></mat-icon>
                                </button>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col">
                        <table mat-table [dataSource]="dataSource" class="shadow bg-card w-full">

                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
                            <ng-container matColumnDef="nro">
                                <th mat-header-cell *matHeaderCellDef> Nro.</th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    {{ (pageIndex * pageSize) + i + 1 }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="dni">
                                <th mat-header-cell *matHeaderCellDef> DNI</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element?.dni }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="username">
                                <th mat-header-cell *matHeaderCellDef> Usuario</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element?.username }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="institute">
                                <th mat-header-cell *matHeaderCellDef> Institución</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element?.institution?.name }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="district">
                                <th mat-header-cell *matHeaderCellDef> Ubigeo</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element?.district }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="districtName">
                                <th mat-header-cell *matHeaderCellDef> Distrito</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element?.districtName }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="rol">
                                <th mat-header-cell *matHeaderCellDef> Rol</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element?.role?.name }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> Estado</th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-icon [ngClass]="element?.isActive ? 'c-success' : 'c-danger'"
                                              [svgIcon]="element?.isActive ?
                                              'heroicons_solid:check-circle'
                                              : 'heroicons_solid:x-circle'">
                                    </mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="creationDate">
                                <th mat-header-cell *matHeaderCellDef> Fecha creacion</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element?.dateJoined | date:'dd-MM-YYYY' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>*</th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <button mat-icon-button
                                            (click)="redirectPage(element.id)"
                                            matTooltip="ver detalle">
                                        <mat-icon class="c-confirm" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                    </button>

                                    <button mat-icon-button class="mat-warn"
                                            (click)="delete(element?.id)"
                                            matTooltip="eliminar usuario">
                                        <mat-icon [svgIcon]="'heroicons_solid:x-circle'"></mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator
                            [length]="count"
                            [pageIndex]="pageIndex"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="[5, 10, 25, 50, 100, 250, 500]"
                            (page)="onPage($event)"
                            >
                        </mat-paginator>
                    </div>
                </div>


            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
