<div class="flex w-full">
    <app-indicator-widget></app-indicator-widget>
</div>
<div class="flex">
    <div class="flex bg-white container-list-load">
         <app-load-list class="w-full"></app-load-list>
         <!-- <app-load-pending-assignment class="w-full h-full"></app-load-pending-assignment> -->
         <!-- <app-load-assigned class="w-full"></app-load-assigned> -->
        <!-- <app-assign-load class="w-full"></app-assign-load> -->
    </div>
    <div class="flex flex-auto">
        <app-map></app-map>
    </div>
</div>
