<div class="flex flex-col w-full gap-4 p-6">
    <div class="flex justify-center flex-wrap mt-8 sm:mt-10 ng-star-inserted">
        <div class="flex flex-col h-auto   px-6 mb-10 card-block" *ngFor="let document of documents">
            <a [href]="document.url" target="_blank">
                <div class="flex flex-col max-w-100 relative">
                    <img [src]="document.thumbnail">
                    <div class="hover-block">
                        <div class="title-block">
                            <mat-icon class="icon-size-24" svgIcon="feather:play-circle"></mat-icon>
                        </div>
                         
                    </div>
                </div>
                <div class="flex flex-col w-full mt-auto">
                    <div class="relative h-0.5"></div>
                    <div class="py-4 text-left dark:bg-transparent">
                        <p class="title"> <span><mat-icon svgIcon="mat_outline:smart_display"></mat-icon></span> {{document.title}}</p>
                        <p class="subtitle"><strong>{{document.description}}</strong></p>
                    </div>
                </div>
                
            </a>
        </div>
        <div *ngIf="documents.length === 0" class="none-documents">
            <mat-icon class="icon-size-24" svgIcon="feather:search"></mat-icon>
            <div>
                No se encontraron resultados
            </div>
        </div>
    </div>
    <div [hidden]="documents.length === 0">
        <ng-content select="[paginator]"></ng-content>
    </div>
</div>