<!--<p class="w-full"><button  mat-raised-button  class="btn-green"

    [routerLink]="'/land-inspection/gap-analisys/landwithoutgeo'"
    matTooltip="volver" [color]="'primary'">
    Volver al listado

    <mat-icon svgIcon="heroicons_outline:chevron-left"></mat-icon>
    </button>
</p>-->

<div
    class="flex flex-col bg-white container-list-load text py-6 px-5 w-full h-full"
    *ngIf="land"
>
    <h2 class="text-xl font-bold">DATOS DEL PREDIO</h2>
    <div class="flex gap-y-2 flex-col my-4">
        <div class="flex gap-2">
            <h2>CODIGO DEL PREDIO:</h2>
            <span> {{ land?.cpm }}</span>
        </div>
        <div class="flex gap-2">
            <h2>LOTE URBANO</h2>
            <span>{{ land?.urbanLotNumber }}</span>
        </div>
        <div class="flex gap-2">
            <h2>TIPO DE VIA</h2>
            <span>{{ land?.streetTypeName }} </span>
        </div>
        <div class="flex gap-2">
            <h2>NOMBRE DE LA VIA</h2>
            <span>{{ land?.streetName }}</span>
        </div>
        <div class="flex gap-2">
            <h2>DIRECCION</h2>
            <span
                >{{ land?.streetTypeName }} {{ land?.streetName }}
                {{ land?.municipalNumber }}</span
            >
        </div>
    </div>

    <div class="mt-4">
        <h2 class="text-base">INFORMACION COMPLEMENTARIA</h2>
        <div class="mt-2" [formGroup]="formEdit">
            <!--<div class="flex border border-gary-100 p-2 rounded-lg my-2 border-gray-200 dark:bg-gray-800 dark:border-gray-700 text-base">
                <input class="w-full" placeholder="Dirección alternativa" />
            </div>-->
            <div
                class="flex border border-gary-100 p-2 rounded-lg my-2 border-gray-200 dark:bg-gray-800 dark:border-gray-700 text-base"
            >
                <textarea
                    formControlName="referenceName"
                    name=""
                    id=""
                    cols="10"
                    rows="5"
                    class="w-full"
                    placeholder="Referencia"
                ></textarea>
            </div>
            <div class="flex gap-2 mt-4">
                <button
                    class="button red"
                    (click)="guardarPuntoSinReferencia()"

                    [disabled]="disabled"
                >
                    <mat-icon
                        svgIcon="mat_outline:wrong_location"
                        class="text-white"
                    ></mat-icon>
                    Predio no ubicable
                </button>
                <button class="button blue" (click)="nuevoPuntoCampo()" [disabled]="disabled" >
                    <mat-icon
                        svgIcon="mat_outline:wrong_location"
                        class="text-white"
                    ></mat-icon>
                    Generar punto imagen
                </button>
                <button class="button green" (click)="asignarPredio()"  [disabled]="disabled" >
                    <mat-icon
                        svgIcon="mat_outline:wrong_location"
                        class="text-white"
                    ></mat-icon>
                    Asignar predio
                </button>
            </div>
        </div>
    </div>
    <div class="mt-10">
        <h2 class="text-lg font-bold">DATOS DEL CONTRIBUYENTE</h2>
        <div class="flex gap-y-2 flex-col my-4">
            <div class="flex gap-2">
                <h2>NOMBRE:</h2>
                <span
                    >{{ land?.landOwner.name }}
                    {{ land?.landOwner.paternalSurname }}
                    {{ land?.landOwner.maternalSurname }}</span
                >
            </div>
            <div class="flex gap-2">
                <h2>TELEFONO:</h2>
                <span>{{ land?.landOwner.phone }}</span>
            </div>
            <div class="flex gap-2">
                <h2>CORREO</h2>
                <span>{{ land?.landOwner.email }}</span>
            </div>
            <div class="flex gap-2">
                <h2>DIRECCION</h2>
                <span>
                    {{ land?.landOwner?.address?.streetTypeName }}
                    {{ land?.landOwner?.address?.streetName }}
                    {{ land?.landOwner?.address?.municipalNumber }}</span
                >
            </div>
        </div>
    </div>
    <p class="w-full">
        <button

            class="button blue"
            (click)="backToList()"
            matTooltip="volver"
            [color]="'primary'"
        >
            Volver al listado

            <mat-icon svgIcon="heroicons_outline:chevron-left" class="text-white"></mat-icon>
        </button>
    </p>
</div>
