<div class="flex flex-col gap-4">
    <app-back-list-land class="mb-3" [backLink]="data"></app-back-list-land>

    <app-upload-support
        class="w-max"
        (fileEventEmit)="fileUpload($event)"
    ></app-upload-support>

    <div>
        <div class="text-lg font-bold mb-4"><h1>Predio Original</h1></div>
        <div class="w-full bg-white">
            <app-land-maintenance-table
                [dataSource]="landRecords"
                [typeAction]="leer"
                [isRemove]="false"
            ></app-land-maintenance-table>

            <div *ngIf="landAffected.length > 0">
                <h1 class="text-lg font-bold bg-white pl-4 mb-2">Predios afectados</h1>
                <app-list-land-affected-table class="land"
                [dataSource]="landAffected"
                ></app-list-land-affected-table>
            </div>

        </div>
    </div>
    <div class="w-full">
        <div class="text-lg font-bold"><h1>Predios Divididos</h1></div>

        <app-land-maintenance-table class="change-color-table"
            [dataSource]="results"
            [typeAction]="editar"
            (dataSourceUpdateEvent)="ondataSourceUpdate($event)"
            [ubigeo]="ubigeo"
            [isRemove]="true"
        ></app-land-maintenance-table>
    </div>

    <div class="flex flex-row justify-start p-4 gap-4">
        <button
            mat-raised-button
            class="btn_add"
            (click)="onAgregarResult()"
        >
            <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
            <span class="ml-2">Agregar Predio</span>
        </button>

        <button
            mat-raised-button
            class="btn_acc"
            *ngIf="results.length > 1 && file"
            [color]="'primary'"
            (click)="onGenerateSplit()"
            [disabled]="disabled"
        >
           <span class="ml-2"> Generar Subdivisión </span>
            <mat-icon svgIcon="heroicons_outline:refresh"></mat-icon>
        </button>
    </div>
</div>
