.title-primary {
    font-weight: bold;
    color: var(---black);
    font-size: 18px;
}

.arrow-back {
    color: #0090F8;
}


.button-assignment{
    background-color: #219EF9;

}

:host .mat-button{
    background-color: #219EF9;
    color: #FFFFFF;
    border-radius: 7px !important;
    position: absolute;
    bottom: 16px;
    width: 375px;

}

:host app-widget ::ng-deep .card {
    background-color: #66BB6A;
}
