a{
    display: flex;
    align-items: center;
    background-color: #dd4c4c;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    position: relative;
    &::before{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 0 14px 14px;
        border-color: transparent transparent transparent #dd4c4c;
        top: 3px;
        right: -13px;
        position: absolute;
        
    }

    mat-icon{
        color: white;
        margin-right: 8px;
        min-height: 19px;
        min-width: 19px;
    }
}
a.bread-mid{
    cursor: pointer;
    margin-left: 13px;
    padding-left: 30px;
    &::after{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 15px;
        border-color: transparent transparent transparent #ffffff;
        top: 2px;
        left: 0;
        position: absolute;
    }
    &.active{
        background-color: #666;
        cursor: default;
    }
    &.active::before{
        border-color: transparent transparent transparent #666;
    }

}

