.shortTable {
    display: grid;
    width: max-content;
    //flex-wrap: wrap;
    border: 1px solid #66BB6A;

    &__title {
        background-color: #66BB6A;
        font-size: medium;
        color: white;
        padding: 10px;
    }
    &__content {
        color:#1E293B;
        padding: 10px;
        padding-right: 25px;
    }
}
