
<div class="flex flex-col p-4 pb-3 w-100">
    <div class="flex  flex-row gap-x-4">
        <button class="green-button-solid" (click)="redirecto()">
            <mat-icon svgIcon="arrow_back_ios" class="arrow-back"></mat-icon>
        </button>
        <span class="title-primary">Asignacion de carga</span>

    </div>

    <span class="text-secundary mt-4">Manzanas asignadas:</span>

    <div class="w-full mt-3">
        <app-table
        [dataSource]="dataSource"
        [columns]="tableColumns"
        [config] = "tableConfig"
        (action)="onZoom($event)"
        >
        </app-table>
    </div>

    <div class="flex items-center justify-between">
        <span class="text-secundary font-bold">Fecha estimada de entrega: </span>
        <mat-form-field class="h-9">
            <input matInput [matDatepicker]="picker" autocomplete="off" type="text" placeholder="Fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="mt-3 w-full">
        <span class="text-secundary">Seleccione operador</span>
        <div class="flex h-9 border border-gary-100 p-2 rounded-lg my-2 border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 text-base">
            <input class="w-full" placeholder="Operador">
            <span class="flex" >
                <mat-icon svgIcon="mat_outline:search"></mat-icon>
            </span>
        </div>
    </div>
    <ng-container *ngIf="user" >
        <app-detail-operador></app-detail-operador>
        <div class="flex w-full pt-3 gap-3 justify-between">
            <ng-container *ngFor="let card of cards">
                <app-widget [card]="card"></app-widget>
        </ng-container>
        </div>

        <button  mat-button>
            <mat-icon svgIcon="mat_solid:check" class="text-white mr-3"></mat-icon>
            Asignar operador
        </button>
    </ng-container>
</div>



