
.mat-accordion .mat-expansion-panel { 
    border-radius: 5px 5px 0 0 !important;
}

::ng-deep .mat-expansion-panel .mat-expansion-panel-body {
    padding: 0 0 12px !important;
  }
  

  .container {
    max-height: calc(100vh - 275px);
    overflow-y: scroll;
  }