


  .btnObs {
    background-color: #DE3F43;
    color: white;
    height: 38px;
    width: 131px;
    border-radius: 15px;
  }

  .btnAdd {
    background-color: #0090F8;
    color: white;
    height: 38px;
    width: 131px;
    border-radius: 15px;
  }
