
:host app-table ::ng-deep {

    thead .mat-mdc-header-cell {
        text-align: left;
    }
    .mat-mdc-row {
        text-align: left;
    }

    td.mat-mdc-cell{
        font-size: 12px;
    }

}


:host ::ng-deep .mat-mdc-paginator .mat-mdc-paginator-container {
    padding: 0 !important;
}
