
:host app-table ::ng-deep {

    thead .mat-header-cell {
        text-align: left;
    }
    .mat-row {
        text-align: left;
    }

    td.mat-cell{
        font-size: 12px;
    }

}


:host ::ng-deep .mat-paginator .mat-paginator-container {
    padding: 0 !important;
}
