.text {
    font-size: 14px;
    font-weight: bold;
    color: #1E293B;
}

.subTexto {
    font-size: 14px;
    color: #1E293B;
}


.mat-option-text.mat-option-text {
    font-size: 12px !important;
    //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

  :host ::ng-deep{

    .mat-option-text.mat-option-text {
        font-size: 12px !important;
        //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    }


  /*  .mat-select-panel mat-option.mat-option {
        height: unset;
      }

     .mat-option-text.mat-option-text {
        white-space: normal;
      }*/

}
