<div class="flex flex-auto bg-white">
    <div class="bg-white flex flex-auto items-center justify-center w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div>
                <img class="mb-8" src="assets/images/logo/logo_mef.jpg">
                <img src="assets/images/logo/logoCatastroFiscal.png">
            </div>

            <!-- Title -->
            <div class="mt-10 text-4xl tracking-tight leading-tight c-purple-mef">Iniciar Sesion</div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form
                class="mt-8"
                [formGroup]="signInForm"
                #signInNgForm="ngForm"
              
                >

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Usuario</mat-label>
                    <input
                        id="username"
                        matInput
                        [formControlName]="'username'">
                    <mat-error *ngIf="f.username.hasError('required')">
                        Email address es obligatorio
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Contraseña</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Password es obligatorio
                    </mat-error>
                </mat-form-field>

                <!-- Recapcha -->
                <div class="inline-flex items-end justify-center w-full mt-1.5">

                   <div >
                    <div class="flex">
                        <img  *ngIf="captcha" src="data:image/png;base64,{{this.captcha.captchaImage}}">
                        <button  type="button" mat-icon-button (click)="onUpdateCaptcha($event)">
                            <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:refresh'"></mat-icon>
                        </button>
                    </div>
                    <mat-form-field class="w-full">

                        <input
                        id="captcha"
                        matInput
                        [formControlName]="'captcha'"
                        >


                        <mat-error *ngIf="f.captcha.hasError('required') && signInForm.dirty">
                            El captcha es obligatorio
                        </mat-error>


                    </mat-form-field>

                    <mat-error >
                        {{alertCaptcha.message}}
                    </mat-error>

                   </div>
                </div>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6 bg-mef"
                    mat-flat-button
                    type="submit"
                    [color]="'primary'"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        Iniciar sesion
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>

            <div class="inline-flex items-end justify-center w-full mt-1.5">
                 Version 1.{{versionMonth}}.{{versionDay}}
            </div>

        </div>
    </div>
</div>
