.bg-cover{
    object-fit: cover;
    font-style: oblique;
    position: absolute;
    height: 100%;
    object-position: left;
}

.logo-mef{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 250px;
}