<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">
              {{ 'Carga de Datos' }}
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-col flex-auto p-6 sm:p-10">
        <div class="flex-col flex-wrap w-full">
            <div class="flex-row w-full justify-center">
                <div class="pb-4 block-upload w-full  justify-center"
                [formGroup]="uploadForm" *ngIf="true">
                    <label for="uploadfile" class="flex flex-col w-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card justify-center">
                        <div class="aspect-w-9 aspect-h-6 ">
                            <div class="flex items-center justify-center">
                                <div class="relative">
                                    <mat-icon *ngIf="!fileUpload?.value" class="notranslate icon-size-14 text-hint"
                                              svgIcon="iconsmind:file_upload"></mat-icon>
                                    <ng-container *ngIf="fileUpload?.value">
                                        <mat-icon class="notranslate icon-size-14 text-hint" svgIcon="iconsmind:file"></mat-icon>
                                        <div
                                            class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white bg-green-600">
                                            XLS
                                        </div>
                                    </ng-container>
                
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!fileUpload?.value"  class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                            <div class="mat-tooltip-trigger truncate text-primary-500">Seleccionar archivo</div>
                        </div>
                        <input type="file" (change)="uploadFile($event)" hidden name="uploadfile" id="uploadfile" #uploadfile>
                    </label>
                    <div class="flex ml-4">
                        <div class="block-data-file">
                            <div class="flex items-center justify-between py-3">
                                <h3 class="text-secondary font-bold text-2xl">{{ fileName? fileName : "Nombre del Archivo"}}</h3>
                            </div>
                            <div>
                                <div class="text-secondary">Cantidad de Registros:</div>
                                <div class="font-semibold">{{ (records?.validos?.length + records?.invalidos?.length) || 0 }}</div>
                            </div>
                            <div>
                                <div class="text-secondary ">Registros válidos</div>
                                <div class="text-green-500 font-semibold">{{ records?.validos?.length || 0 }}</div>
                            </div>
                            <div>
                                <div class="text-secondary">Registros inválidos</div>
                                <div class="text-red-500 font-semibold">{{ records?.invalidos?.length || 0 }}</div>
                            </div>
                            <!---->
                        </div>
                    </div>                    
                </div>
                <div class="flex w-full justify-center">
                    <button class="mat-focus-indicator mat-flat-button mat-button-base mat-primary mr-10"
                    [disabled]="uploadForm.invalid"
                    (click)="parseFormFile()">
                        <mat-icon svgIcon="heroicons_outline:plus-sm"></mat-icon>
                        <span class="ml-2 mr-1">Cargar Registros</span>
                    </button>
                    <div *ngIf="records"
                    class="flex flex-row-reverse items-start justify-between">
                        <div class="flex flex-row">
                            <button class="mat-focus-indicator mat-flat-button mat-button-base mat-warn mr-10" (click)="resetControls(true)">
                                <mat-icon svgIcon="heroicons_outline:minus-sm"></mat-icon>
                                <span class="ml-2 mr-1">Cancelar carga</span>
                            </button> 
                            <button class="mat-focus-indicator mat-flat-button mat-button-base bg-recepcionar" (click)="recepcionarValidos()" *ngIf="records?.validos?.length > 0">
                                <mat-icon svgIcon="heroicons_outline:clipboard-check"></mat-icon>
                                <span class="ml-2 mr-1">Recepcionar registros válidos</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-center py-10">
                <div class="block-icon">
                    
                    <div class="flex items-center justify-center p-4 rounded-full bgIcon">
                        <mat-icon svgIcon="heroicons_outline:home"></mat-icon>
                    </div>
                    <div class="block-text">
                        <p>Predios Registrados</p>
                        <h5>0</h5>
                    </div>
                </div>

                <div class="block-icon green">
                    
                    <div class="flex items-center justify-center p-4 rounded-full bgIcon">
                        <mat-icon svgIcon="heroicons_outline:home"></mat-icon>
                    </div>
                    <div class="block-text">
                        <p>Predios con Cartografia</p>
                        <h5>0</h5>
                    </div>
                </div>

                <div class="block-icon blue">
                    
                    <div class="flex items-center justify-center p-4 rounded-full bgIcon">
                        <mat-icon svgIcon="heroicons_outline:home"></mat-icon>
                    </div>
                    <div class="block-text">
                        <p>Predios Registrados</p>
                        <h5>0</h5>
                    </div>
                </div>
            </div>
        
            <div class="flex-row w-full">
                <div *ngIf="records" class="flex flex-col gap-4">
                    <ng-container *ngIf="records?.invalidos?.length > 0">
                        <app-table-files styleTable="red" title="Registros Incorrectos" [records]="records.invalidos" [posicionExcel]="true" ></app-table-files>
                    </ng-container>
                    <ng-container *ngIf="records?.validos?.length > 0">
                        <app-table-files styleTable="green" title="Registros Validos" [records]="records.validos" [posicionExcel]="false"></app-table-files>
                    </ng-container>
                </div>
                <app-table-files styleTable="red" title="Registros Incorrectos" [records]="records" [posicionExcel]="true" isDownload="true"></app-table-files>
                <app-table-files styleTable="green" title="Registros Validos" [records]="records" [posicionExcel]="false" isDownload="true"></app-table-files>
            </div>
        </div>
    </div>
</div>