<div class="flex w-full container-block">
  <div class="flex-auto block" *ngIf="expandMap">
    <app-new-owner-container></app-new-owner-container>
    <app-list-land-container></app-list-land-container>
  </div>
  <div class="flex-auto block" [ngClass]="{expanded:!expandMap}">
    <div class="button-max" (click)="expandMap = !expandMap">
      <mat-icon [svgIcon]="expandMap ? 'mat_solid:zoom_out_map':'feather:minimize-2'"></mat-icon>
    </div>
    
    <app-new-land-container></app-new-land-container>
  </div>
</div>