<div fuseScrollbar [fuseScrollbarOptions]="{wheelPropagation: false, suppressScrollX: true}"
    class="flex flex-col p-4 pb-3 w-full">
    <div class="flex flex-row gap-x-4 items-center">
        <button (click)="redirecto()">
            <mat-icon svgIcon="arrow_back_ios" class="arrow-back"></mat-icon>
        </button>
        <span class="title-primary">Nueva carga</span>
    </div>

    <div class="w-full my-3">
        <app-new-load></app-new-load>
    </div>
    <div class="py-2 flex flex-auto flex-col">
        <form [formGroup]="form">
            <p class="mb-2">Datos de la carga</p>
            <mat-form-field appearance="fill" class="w-full h-16">
                <input matInput formControlName="loadName" placeholder="Ingrese un nombre de la carga">
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full">
                <textarea matInput formControlName="description"
                    placeholder="Describa el motivo de la carga de trabajo"></textarea>
            </mat-form-field>
            <div class="flex gap-x-2">
                <mat-form-field class="w-3/5" appearance="fill">
                    <mat-label>Seleccione operador</mat-label>
                    <input matInput maxDigitsLength="8" formControlName="dni" type="text" placeholder="DNI Operador"
                        [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option [value]="''" (click)="selected('')">
                            --------
                        </mat-option>
                        <mat-option *ngFor="let option of options | async" [value]="option" (click)="selected(option)">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <mat-form-field class="w-2/5">
                    <mat-label>Fecha de entrega:</mat-label>
                    <input matInput [matDatepicker]="date" autocomplete="off" type="text" placeholder="Fecha"
                        formControlName="fEntrega" (click)="date.open()">
                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date [disabled]="dataPicker"></mat-datepicker>
                </mat-form-field>
            </div>

            <section [hidden]="!user ">
                <app-detail-operador [data]="operator"></app-detail-operador>
                <div class="flex w-full justify-between my-3">
                    <app-widget *ngFor="let card of cards" [card]="card"></app-widget>
                </div>
            </section>
        </form>
        <button (click)="createWorkLoad()" mat-button>
            <mat-icon svgIcon="mat_solid:check" class="text-white mr-3"></mat-icon>
            Registrar carga de trabajo
        </button>
    </div>

</div>
