<table mat-table [dataSource]="dataSource" class="shadow bg-card w-full">
    <ng-container matColumnDef="nro">
        <th mat-header-cell *matHeaderCellDef> Nro.</th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{ (pageIndex * pageSize) + i + 1 }}
        </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de carga</th>
        <td mat-cell *matCellDef="let element">
            {{ element.startDate | date:'dd-MM-YYYY hh:mm a' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="fileUpload">
        <th mat-header-cell *matHeaderCellDef> Archivo Cargado</th>
        <td mat-cell *matCellDef="let element">
            <a [href]="element.fileUpload"
            class="download-green">
                <mat-icon [svgIcon]="'heroicons_solid:document-download'"></mat-icon>
                Descargar Archivo
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estado</th>
        <td mat-cell *matCellDef="let element">
            <ng-container [ngSwitch]="element.status">
                <ng-container *ngSwitchCase="'INITIAL'">
                    <mat-icon svgIcon="heroicons_solid:clock"
                    matTooltip="Por iniciar"
                    matTooltipPosition="right"
                    style="color: #0090f8 !important;"
                    ></mat-icon>
                </ng-container>
                <ng-container *ngSwitchCase="'IN_PROGRESS'" class="flex">
                    <mat-spinner [color]="accent" [diameter]="30"
                    matTooltip="En curso"
                    matTooltipPosition="right"
                    ></mat-spinner>
                </ng-container>
                <ng-container *ngSwitchCase="'LOADED'">
                    <mat-icon svgIcon="heroicons_solid:check-circle"
                    matTooltip="Finalizado"
                    matTooltipPosition="right"
                    style="color: green!important;"
                    ></mat-icon>
                </ng-container>
                <ng-container *ngSwitchCase="'ERROR'">
                    <mat-icon svgIcon="heroicons_solid:exclamation-circle"
                    matTooltip="Error/Detenido"
                    matTooltipPosition="right"
                    style="color: red!important;"
                    ></mat-icon>
                </ng-container>
                <ng-container *ngSwitchCase="'CANCEL'">
                    <mat-icon svgIcon="heroicons_solid:ban"
                    matTooltip="Cancelado por el usuario"
                    matTooltipPosition="right"
                    style="color: red!important;"
                    ></mat-icon>
                </ng-container>
            </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element">
            {{ element.username }}
        </td>
    </ng-container>


    <ng-container matColumnDef="totalLand">
        <th mat-header-cell *matHeaderCellDef> Predios registrados </th>
        <td mat-cell *matCellDef="let element">
            {{ element.totalLand }}
        </td>
    </ng-container>

    <ng-container matColumnDef="totalLandMapping">
        <th mat-header-cell *matHeaderCellDef> Predios con cartografia </th>
        <td mat-cell *matCellDef="let element">
            {{ element.totalLandMapping }}
        </td>
    </ng-container>

    <ng-container matColumnDef="totalNotLandMapping">
        <th mat-header-cell *matHeaderCellDef> Predios sin cartografia </th>
        <td mat-cell *matCellDef="let element">
            {{ element.totalLand - element.totalLandMapping }}
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>*</th>
        <td mat-cell *matCellDef="let element; let i = index">
            <button mat-icon-button class="mat-primary"

                    (click)="onGoToUploadRecordDetail(element.id)"
                    matTooltip="ver detalle">
                <mat-icon [svgIcon]="'heroicons_solid:eye'"  style="color: #0090f8 !important;"></mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="count"
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 50, 100, 250, 500]">
</mat-paginator>
