

:host ::ng-deep .mat-header-cell {
    padding: 12px !important;

}


.btn {
    width: 167px;
    height: 38px;
    text-align: center;
    font-size: 14px;
    color: white ;
    border-radius: 8px;
}

.red {
    background-color: #DE3F43;
}

.blue {
   background-color: #0795FA;
}
