

:host ::ng-deep .mat-mdc-header-cell {
    padding: 12px !important;

}


.btn {
    width: 167px;
    height: 38px;
    text-align: center;
    font-size: 14px;
    color: white ;
    border-radius: 8px;
}

.red {
    background-color: #DE3F43;
}

.cblue {
    background-color: #2945d6;
}

.blue {
   background-color: #0795FA;
}


app-table ::ng-deep .table-list,
table-dj ::ng-deep .header-vertical,
table-other-inst ::ng-deep .header-vertical {
    thead .mat-mdc-header-cell {
        background-color: #BFE1FF !important;
    }
}



