<div class="flex flex-col">
    <div class="flex justify-start items-center gap-2" [formGroup]="formFilters">

        <div class="flex gap-4 ">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto">
                <mat-label class="text-secondary font-medium">Estado</mat-label>
                <mat-select 
                    [value]="''"
                    (selectionChange)="onFilter($event)" formControlName="id_status">
                    <mat-option *ngFor="let e of status" [value]="e.id">{{e.text}}</mat-option>
    
                </mat-select>
            </mat-form-field>
    
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-dense w-50">
                <mat-label class="text-secondary font-medium">Tipo de Mantenimiento</mat-label>
                <mat-select 
                    [value]="''"
                    (selectionChange)="onFilter($event)" formControlName="id_type">
                    <mat-option *ngFor="let e of typesMaintenance" [value]="e.id">{{e.text}}</mat-option>
    
                </mat-select>
            </mat-form-field>
        </div>

        <!-- <button mat-raised-button class="bg-success"
        [color]="'primary'"   (click)="onDownload()"  >Descargar  <mat-icon svgIcon="heroicons_outline:document-download" ></mat-icon> </button>-->
    </div>
    <div class="w-full">
        <section *ngIf="applicationRecords" class="overflow-x-auto">
            <app-list-application-maintenance-table [dataSource]="applicationRecords" [length]="tableLength"
                (changePage)="onChangePage($event)"></app-list-application-maintenance-table>
        </section>
    </div>
</div>