.esri-view {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }


  #mapViewNode {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  /*
  .map{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }*/


#searchWidget{
  top:15px;
  left:60px;
  position: absolute;

}