:root {
    ---black: #1E293B;
}
@mixin text() {
    color: #292828;
    font-size: 14px;
    font-weight: 700
}

.text-bold {
    @include text;
    font-weight: bold;
}

.text {
    @include text;
}

.buttonMap {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: #0795FA;

}

.text-title {
    color: #727272;
    font-size: 14px;
    font-weight: 600;
}
