@import 'styles/mixins';

@include button-style-icons-2();

:host ::ng-deep {

  table.table-base {
    thead tr {
      position: sticky;
      top: 0;
      background: white;
      z-index: 10;
    }

    thead tr th {
      position: sticky !important;
      background-color: #eef6fb  !important;
      color: #01121e !important;
      font-size: 14px !important;
    }
  }


  .mat-header-cell {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
  }


}

:host ::ng-deep {
  table.icon-color {
    thead tr th .mat-sort-header-container .mat-sort-header-arrow {
      color: #01121e !important;
    }
  }

}

:host ::ng-deep table tbody tr.predioSelected {
  background-color: #FFF5F8 !important;
  position: relative;

  &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #FFF5F8;
      display: block;
      position: absolute;
      left: 0;
      z-index: 1;
      box-shadow: 4px 4px 4px rgb(145 143 143 / 42%);
  }

  td {
      position: relative;
      z-index: 2;
  }
}


.label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6px;
  border-radius: 4px;
  width: max-content;
  font-weight: bolder;
  font-size: 12px;
}

.pending {
  color: #ffc107;
  background: #FFF8DD;
}

.success {
  color: #10B981;
  background: #E8FFF3;
}

.rejected {
  color: #F1416C;
  background: #FFF5F8;
  cursor: pointer;
}

::ng-deep .no-hide-arrow .mat-sort-header-arrow {
  color: #fff !important;
}

// .wrapper_table {
//   -webkit-text-size-adjust: 100%;
//   -moz-text-size-adjust: 100%;
//   text-size-adjust: 100%;
//   max-height: calc(100vh - 400px);
//   width:100%;
//   overflow-wrap: break-word;
//   overflow-x: auto;
//   overflow-y: auto;
//   position: relative
// }

.table-container {
  max-height: calc(100vh - 410px) !important; /* Ajusta esto a tu caso de uso específico */
  overflow-y: auto;
}

