<div fuseScrollbar
    [fuseScrollbarOptions]="{wheelPropagation: false, suppressScrollX: true}"
    class="container w-max">
    <table mat-table
        class="w-full table-base"
        [dataSource]="dataSource"
    >
        <ng-container matColumnDef="nro">
            <th mat-header-cell *matHeaderCellDef>
                <span class="">Nro.</span></th>
                <td mat-cell *matCellDef="let element; let i = index">
                <span  class="pl-2 pr-10 font-medium text-sm text-secondary whitespace-nowrap">{{i+1}}</span>
                </td>
        </ng-container>

        <ng-container matColumnDef="cup">
            <th mat-header-cell *matHeaderCellDef>Codigo de predio único (CPU)</th>
            <td mat-cell  class="w-0" *matCellDef="let element" >
                <span class="pr-6 font-medium whitespace-nowrap">{{element.cup}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="streetName">
            <th mat-header-cell *matHeaderCellDef> Nombre de vía </th>
            <td mat-cell *matCellDef="let element"  >
                <span class="pr-4 whitespace-nowrap">{{element.streetName | titlecase}} </span></td>
        </ng-container>

        <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef>Fecha de registro </th>
            <td mat-cell *matCellDef="let element"  >
                <span class="pr-4 whitespace-nowrap">{{element.creationDate| date: 'dd/MM/yyyy'}}</span></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        ></tr>
    </table>
</div>



