@import 'styles/mixins';

:host ::ng-deep{
    app-search-owner-table, app-search-land-table{
        @include table-border-radius;
        @include table-hover;
        @include table-padding-4;
    }

    .container-panel{
        padding: 10px;
        background-color: white;
        border-radius: 8px;

    }

    .input-icon-form{
        input{
            width: calc(100% - 63px) !important;
            margin-right: 25px;
        }
        button{
            border-radius: 0 5px 5px 0 !important;
            margin-right: -16px;
        }

    }
}


.hidden-class {
    display: none;
  }

  .visible-class {
    display: flex;
  }


  .border-div {
    padding-top: 32px;
    border-bottom: 2px solid #cfdae4;
  }
