<div class="flex flex-row gap-4 justify-start my-4" [formGroup]="formFilters">
  <mat-form-field class="fuse-mat-no-subscript fuse-mat-dense w-3/12">      
      <input type="text" matInput formControlName="search"
             placeholder="Buscar por dirección"
             autocomplete="off">
      <mat-icon svgIcon="heroicons_outline:search"></mat-icon>
  </mat-form-field>
</div>

<app-search-land-table  [dataSource]="dataSourceLands"
(changePage)="onChangePage($event)"
(showLandMap)="onShowLandsMap($event)"></app-search-land-table>

<app-search-owner-table *ngIf="showOwnerTable" [dataSource]="dataSource"
(changePage)="onChangePage($event)"></app-search-owner-table>



<div class="container-panel flex w-full" [ngStyle]="{'padding': (landRecord && landOwner)? '10px': '0'}">
  <div class="map-container" *ngIf="showLandsMap">
    <app-show-map-point [points]="[{ latitude: landRecord.latitude, longitude: landRecord.longitude }]" [landRecord]="landRecord" [landOwner]="landOwner"  ></app-show-map-point>
  </div>

  <div class="flex flex-col px-4 w-2/5" *ngIf="landRecord && landOwner">
    <app-detail-predio [landRecord]="landRecord" [landOwner]="landOwner" [builtArea]="builtArea" ></app-detail-predio>

  </div>

  <!--<button (click) >CROQUIS</button>
       <button class="mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                (click)="buscar()"  >
            <mat-icon svgIcon="heroicons_outline:search"></mat-icon>
            <span class="ml-2 mr-1">Buscar</span>
        </button>
  
  
  -->
  
</div>