<div class="flex flex-row gap-4 justify-start my-4" [formGroup]="formFilters">
  <mat-form-field class="fuse-mat-no-subscript fuse-mat-dense w-5/12 input-icon-form">
    <mat-label>Buscar</mat-label>
    <input type="text" matInput formControlName="search"
           placeholder=" Buscar por CPU -Codigo de predio municipal- ID lote o ID Imagen"
           autocomplete="off">
    <mat-select formControlName="view" matPrefix
    (selectionChange)="onChangeView()">
      <mat-option [value]="'predio'">Predios</mat-option>
      <mat-option [value]="'Contribuyente'">Contribuyente</mat-option>
    </mat-select>
        <mat-icon
          [matTooltip]="'Limpiar buscador'"
          class="hidden sm:flex icon-size-5"
          [svgIcon]="'heroicons_solid:x'"
          (click)="onCleanSearch()"
        ></mat-icon>
        <button mat-flat-button
        [color]="'primary'"
        (click)="onClickSearch()"
        >
          <mat-icon svgIcon="heroicons_outline:search"></mat-icon>
        </button>
  </mat-form-field>

  <mat-form-field class="fuse-mat-no-subscript fuse-mat-dense w-3/12">
    <mat-label>Estado</mat-label>
    <mat-icon
        matPrefix
        class="hidden sm:flex icon-size-5"
        [svgIcon]="'heroicons_solid:view-boards'"></mat-icon>
    <mat-select
        (selectionChange)="onFilterStatus()" formControlName="status">
        <mat-option *ngFor="let option of optionS" [value]="option.cod">{{option.option}}</mat-option>
        <!-- <mat-option [value]="0">Predios sin Cartografia</mat-option>
        <mat-option [value]="1">Predios con Cartografia</mat-option>
        <mat-option [value]="2">Coordenada de Imagen</mat-option>
        <mat-option [value]="3">Predios Inactivos</mat-option> -->
    </mat-select>
  </mat-form-field>
  <!-- select ubigeo -->
  <div class="fuse-mat-no-subscript fuse-mat-dense w-4/12" style="margin-top: 25px;">
    <select-ubigeo *ngIf="!hideSelectUbigeo"
    (ubigeoSelected)="onSelectUbigeo($event)"></select-ubigeo>
  </div>
</div>

<app-search-land-table
[dataSource]="dataSourceLands"
[length]="lengthLandsOwner"
(changePage)="onChangePage($event)"
(showLandMap)="onShowLandsMap($event)"></app-search-land-table>

<app-search-owner-table *ngIf="showOwnerTable"
[dataSource]="dataSource"
[length]="lengthOwner"
(showLandOwner)="onShowLandOwner($event)"
></app-search-owner-table>



<div class="container-panel flex w-full justify-between gap-8"  *ngIf="showLandsMap" [ngStyle]="{'padding': (landRecord && landOwner)? '10px': '0'}">
  <div class="map-container" >
    <app-show-map-point *ngIf="showLandsMap" [points]="[{ latitude: landRecord.latitude, longitude: landRecord.longitude }]" [landRecord]="landRecord" [landOwner]="landOwner"  ></app-show-map-point>
  </div>

  <div id="dowloandCroquis" class="flex flex-col px-4 w-2/5" *ngIf="landRecord && landOwner" style="min-height: 400px;">
    <app-detail-predio [landRecord]="landRecord" [landOwner]="landOwner" [builtArea]="builtArea" class="h-full" ></app-detail-predio>
    <ng-container *ngIf="landRecord.longitude || landRecord.latitude">
        <button mat-flat-button [color]="'primary'" class="m-8 rounded-md" 
        (click)="onDowloandCroquis()" >
          <mat-icon svgIcon="heroicons_outline:printer"></mat-icon>
          <span class="ml-4">CROQUIS</span>
        </button>
    </ng-container>

  </div>
</div>
