<div class="w-full flex flex-auto flex-col p-4">
    <div class="flex justify-between">
        <span class="title-primary">Asignacion de carga</span>
        <!-- esto va cambiar con material  -->
        <button class="green-button-solid" (click)="redirecto()">
            <mat-icon svgIcon="mat_outline:add"></mat-icon>
            Nueva carga
        </button>
    </div>
    <div [formGroup]="formFilters">
        <span class="text-black mt-3 text-base">Buscar por:</span>
        <div class="flex items-center pr-2 border rounded-lg my-2 border-gray-200  dark:bg-gray-800 dark:border-gray-700">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-dense w-4/12">
                <mat-select placeholder="Buscar por"
                    (selectionChange)="optionSelected($event)"
                    formControlName="option">
                    <mat-option [value]="">-----</mat-option>
                    <mat-option [value]="option.id"
                        *ngFor="let option of options"
                        >{{ option.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <ng-container *ngIf="optionSelect">
                <div [ngSwitch]="optionSelect">
                    <ng-container *ngSwitchCase ="'code'">
                        <div class="flex w-full pl-2  gap-4">
                            <input class="pl-2"
                                type="text"
                                matInput
                                [appOnlyNumbers]="true"
                                placeholder="codigo"
                                formControlName="search"
                                autocomplete="off"
                            />
                            <mat-icon svgIcon="heroicons_outline:search"></mat-icon>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase ="'urban'">
                        <div class="w-full">
                            <mat-select class="pl-2 w-full"
                                placeholder="Seleccionar unidad urbana"
                                formControlName="cod">
                                <mat-option [value]="">-----</mat-option>
                                <mat-option [value]="unit.cod" *ngFor="let unit of listUnit">
                                {{unit.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="w-full">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Por asignar">
                <app-table-pending></app-table-pending>
            </mat-tab>
            <mat-tab label="Asignado">
                <app-table-assigned></app-table-assigned>
            </mat-tab>
            <mat-tab label="Atendido">
                <app-table-attended></app-table-attended>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
