<div class="w-full flex flex-auto flex-col p-4">
    <div class="flex justify-between">
        <span class="title-primary">Asignacion de carga</span>
        <!-- esto va cambiar con material  -->
        <button class="green-button-solid" (click)="redirecto()">
            <mat-icon svgIcon="mat_outline:add"></mat-icon>
            Nueva carga
        </button>
    </div>

    <span class="text-black mt-3 text-base">Buscar por:</span>
    <div class="flex items-center pr-2 border rounded-lg my-2 border-gray-200  dark:bg-gray-800 dark:border-gray-700">
        <mat-form-field class="">
            <mat-select placeholder="Buscar por:">
            <mat-option [value]="">-----</mat-option>
                <mat-option [value]="state" *ngFor="let state of states">{{state}}</mat-option>
            </mat-select>
        </mat-form-field>

        <input class="w-full pl-2" placeholder="Ingresar codigo" />
        <span class="flex">
            <mat-icon svgIcon="mat_outline:search"></mat-icon>
        </span>
    </div>

    <div class="w-full">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Por asignar">
                <app-table-pending></app-table-pending>
            </mat-tab>
            <mat-tab label="Asignado">
                <app-table-assigned></app-table-assigned>
            </mat-tab>
            <mat-tab label="Atendido">
                <app-table-attended></app-table-attended>
            </mat-tab>
        </mat-tab-group>
    </div>
    <select-ubigeo  *ngIf="!hideSelectUbigeo" (ubigeoSelected)="onSelectUbigeo($event)"></select-ubigeo>
</div>
