<div class="flex flex-col flex-auto min-w-0">
  <!-- Header -->
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
      <div class="flex-1 min-w-0">
          <!-- Title -->
          <div class="text-3xl font-semibold tracking-tight leading-8">
            {{ 'Registro de Predios' }}
          </div>
      </div>

      <!-- Actions -->
      <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
        <button
            class="ml-4 bg-mef-btn-success rounded-md"
            mat-raised-button
            [color]="'accent'"
            (click)="onGoToNewRecord()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2">Nuevo registro</span>
        </button>
      </div>
  </div>

  <!-- options predios -->
  <div class="flex flex-col flex-auto p-6 sm:p-10">
    <ng-container *ngIf="renderOption; else owners">
        <div class="flex justify-center pb-10" *ngIf="summary">
            <div class="block-icon shadow-sm cursor-pointer select-none hover:shadow-md"
                *ngFor = "let option of optionsLands"
                [ngClass]="[option.class, selectedCardId === option.id ? 'itemSelected' : '']"
                (click)="onSelect(option)">
                <div class="flex items-center justify-center p-4 rounded-full bgIcon">
                    <mat-icon svgIcon="heroicons_outline:home"></mat-icon>
                </div>
                <div class="block-text">
                    <p>{{option.titleCard}}</p>
                    <h5>{{ option.total}}</h5>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #owners>
        <div class="flex justify-center pb-10">
            <div class="block-icon shadow-sm cursor-pointer select-none hover:shadow-md"
                *ngFor = "let option of optionOwner"
                [ngClass]="option.class"
                (click)="onSelectOwner(option)">
                <div class="flex items-center justify-center p-4 rounded-full bgIcon">
                    <mat-icon svgIcon="heroicons_outline:home"></mat-icon>
                </div>
                <div class="block-text">
                    <p>{{option.titleCard}}</p>
                    <h5>{{ option.total}}</h5>
                </div>
            </div>
        </div>
    </ng-template>

    <!--
    <app-tabs [navLinks]="tabs"></app-tabs>
    -->
    <router-outlet></router-outlet>
  </div>
</div>
