<app-select-icomes-table selectedTable="RT_PREDIO_DATO"></app-select-icomes-table>
<table mat-table [dataSource]="dataSource" class="shadow bg-card w-full">
  <ng-container matColumnDef="nro">
      <th mat-header-cell *matHeaderCellDef> Nro.</th>
      <td mat-cell *matCellDef="let element; let i = index">
          {{ (pageIndex * pageSize) + i + 1 }}
      </td>
  </ng-container>

  <ng-container matColumnDef="ubigeo">
    <th mat-header-cell *matHeaderCellDef> Ubigeo </th>
    <td mat-cell *matCellDef="let element">
        {{ element.ubigeo }}
    </td>
  </ng-container>

  <ng-container matColumnDef="anoAplicacion">
    <th mat-header-cell *matHeaderCellDef> Año Aplicacion </th>
    <td mat-cell *matCellDef="let element">
        {{ element.anoAplicacion }}
    </td>
  </ng-container>

  <ng-container matColumnDef="codContr">
    <th mat-header-cell *matHeaderCellDef> cod. Contribuyente </th>
    <td mat-cell *matCellDef="let element">
        {{ element.codContr }}
    </td>
  </ng-container>

  <ng-container matColumnDef="codPre">
    <th mat-header-cell *matHeaderCellDef> cod. Predrio </th>
    <td mat-cell *matCellDef="let element">
        {{ element.codPre }}
    </td>
  </ng-container>

  <ng-container matColumnDef="usoEspecifico">
    <th mat-header-cell *matHeaderCellDef> Uso </th>
    <td mat-cell *matCellDef="let element">
        {{ element.usoEspecifico }}
    </td>
  </ng-container>


  <ng-container matColumnDef="areaTerreno">
    <th mat-header-cell *matHeaderCellDef> Area Terreno </th>
    <td mat-cell *matCellDef="let element">
        {{ element.areaTerreno }}
    </td>
  </ng-container>

  <ng-container matColumnDef="arancel">
    <th mat-header-cell *matHeaderCellDef> Arancel </th>
    <td mat-cell *matCellDef="let element">
        {{ element.arancel }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="count"
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 50, 100, 250, 500]">
</mat-paginator>
