<div  class="overflow-x-auto w-full card header-table-default">
    <table
        class="w-full bg-transparent "
        mat-table
        matSort
        [dataSource]="tableDataSource"
        [trackBy]="trackByFn"
        #recentTransactionsTable
    >
    <ng-container matColumnDef="Nro">
        <th mat-header-cell  *matHeaderCellDef>Nro</th>
        <td mat-cell *matCellDef="let  data; let i = index">
            <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                {{ (pageIndex * pageSize) + i + 1 }}
            </span>
        </td>
    </ng-container>
        <ng-container matColumnDef="codigoDeclaracionJurada">
            <th mat-header-cell  *matHeaderCellDef>Cod. DJ</th>
            <td mat-cell *matCellDef="let data">
                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                    {{ data.djPredialNumero}}
                </span>
            </td>
        </ng-container>


        <ng-container matColumnDef="codigoContribuyente">
            <th mat-header-cell *matHeaderCellDef>
                Cod. Contribuyente
            </th>
            <td mat-cell *matCellDef="let data">
                <span class="pr-6 whitespace-nowrap">
                    {{ data.contribuyenteNumero }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="falloDescripcion">
            <th mat-header-cell  *matHeaderCellDef>
                Motivo de fallo
            </th>
            <td mat-cell *matCellDef="let data" class="w-auto min-w-36  max-w-80 break-words">
                <span class="pr-6 font-medium">
                    {{ data.observaciones }}
                </span>
            </td>
        </ng-container>


        <ng-container matColumnDef="secuenciaEjecutora">
            <th mat-header-cell *matHeaderCellDef>
                Secuencia ejecutora
            </th>
            <td mat-cell *matCellDef="let data">
                <span class="pr-6 font-medium whitespace-nowrap">
                    {{ data.municipalidadId }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>
                Fecha de sincronización
            </th>
            <td mat-cell *matCellDef="let data">
                <span class="pr-6 font-medium whitespace-nowrap">
                    {{ data.fechaProceso}}
                </span>
            </td>
        </ng-container>


        <ng-container matColumnDef="estado">
            <th mat-header-cell  *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let data">
                <span class="text-md font-semibold px-3 py-2 rounded-sm shadow-sm"
                [ngClass]="{
                    'synchronized': data.procesado === 1,
                    'not-synchronized': data.procesado === 0,
                    'default': data.procesado !== 0 && data.procesado !== 1
                }">
                    <span class="leading-relaxed whitespace-nowrap">{{data.procesadoDes}}</span>
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.procesado===0">
                    <button mat-icon-button (click)="onAction(element)"
                        matTooltip="Sincronizar">
                        <mat-icon svgIcon="mat_solid:loop"></mat-icon>
                    </button>
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            class="order-row h-16"
            *matRowDef="let row; columns: displayedColumns"
        ></tr>
    </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10,15,20,25,50,100,200,500]"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [length]="length"
    (page)="onPageChange($event)"
        showFirstLastButtons>
</mat-paginator>
