:host {
    .subtitle-text{
        font-weight: bold;
        font-size: 18px;
    }

    .btn-success{
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border-radius: 6px;
        color: white;
        mat-icon{
            color: white;
        }
    }
}
:host ::ng-deep{
    .mat-mdc-outlined-button:not([disabled=true]){
        border-color: #2980B9  !important;
    }

}
