<div  class="flex flex-col w-full p-8">
    <div id="mapLandDetail" class="text-2xl font-semibold leading-tight mb-6">Datos del predio </div>
    <div class="flex flex-col gap-4">
        <div class="flex items-center">
            <mat-icon
                class="icon-size-5 mr-2"
                [svgIcon]="'mat_solid:house_siding'"></mat-icon>
            <span class="leading-none font-medium text-base mr-2">CPU: </span>
            <span class="leading-none text-base"> {{ landRecord?.cup }}</span>
        </div>
        <!-- <div class="flex items-center">
            <mat-icon
                class="icon-size-5 mr-2"
                [svgIcon]="'mat_solid:holiday_village'"></mat-icon>
            <span class="leading-none font-medium text-base mr-2">CPM: </span>
            <span class="leading-none text-base">{{ landRecord?.cpm }}</span>
        </div> -->
        <ng-container *ngIf="landOwner?.dni">
            <div class="flex items-center">
                <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'mat_solid:person'"></mat-icon>
                <span class="leading-none font-medium text-lg mr-2">Propietario: </span>
                <span class="leading-none text-base">{{ landOwner?.name + ' ' + landOwner?.paternalSurname + ' ' + landOwner?.maternalSurname | titlecase }}</span>
            </div>

            <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5 mr-2"
                        [svgIcon]="'heroicons_outline:identification'"></mat-icon>
                    <span class="leading-none font-medium text-lg mr-2">DNI: </span>
                    <span class="leading-none text-base">{{ landOwner?.dni }}</span>
            </div>
        </ng-container>

        <div class="flex items-center">
            <mat-icon
                class="icon-size-5 mr-2"
                [svgIcon]="'heroicons_outline:identification'"></mat-icon>
            <span class="leading-none font-medium text-base mr-2">Codigo de predio: </span>
            <span class="leading-none text-base"> {{ (landOwner?.code)?landOwner?.code:'-' }}</span>
        </div>
        <div class="flex items-center">
            <mat-icon
                class="icon-size-5 mr-2"
                [svgIcon]="'mat_solid:map'"></mat-icon>
            <span class="leading-none font-medium text-base mr-2"> Área del Terreno: </span>
            <span class="leading-none text-base"> {{ (landRecord?.landArea)? landRecord?.landArea +'mt2':'-'  }}</span>
        </div>
        <div class="flex items-center">
            <mat-icon
                class="icon-size-5 mr-2"
                [svgIcon]="'mat_solid:maps_home_work'"></mat-icon>
            <span class="leading-none font-medium text-base mr-2">Área construida:</span>
            <span class="leading-none text-base">{{ (builtArea?.landArea)? builtArea?.landArea +'mt2':'-' }} </span>
        </div>
    </div>
</div>


