<h2 id="mapLandDetail" class="text-center font-bold text-xl mb-2 c-purple-mef">Datos del predio</h2>

<p class="list-detail"> <b><mat-icon svgIcon="mat_solid:house_siding"></mat-icon> CUP:</b>  {{ landRecord?.cup }}</p>
<p class="list-detail"> <b><mat-icon svgIcon="mat_solid:holiday_village"></mat-icon> CPM:</b> {{ landRecord?.cpm }}</p>
<p class="list-detail"> <b><mat-icon svgIcon="mat_solid:person"></mat-icon> Propietario:</b> {{ landOwner?.name + ' ' + landOwner?.paternalSurname + ' ' + landOwner?.maternalSurname  }}</p>
<p class="list-detail"> <b><mat-icon svgIcon="heroicons_outline:identification"></mat-icon> DNI:</b> {{ landOwner?.dni }}</p>
<p class="list-detail"> <b><mat-icon svgIcon="mat_solid:map"></mat-icon> Área del Terreno:</b> {{ landRecord?.landArea }} mt2  </p>
<p class="list-detail"> <b><mat-icon svgIcon="mat_solid:maps_home_work"></mat-icon> Área construida:</b> {{ builtArea?.landArea }} mt2 </p>