<div class="flex flex-col flex-auto min-w-0">

  <!-- Header -->
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
      <div class="flex-1 min-w-0">
          <!-- Title -->
          <div class="text-4xl font-extrabold tracking-tight">
            {{ 'Tabla RT_MarcoPredio' }}
          </div>
      </div>
  </div>

  <!-- Main -->
  <div class="flex flex-col flex-auto p-6 sm:p-10">
      <div class="flex-col flex-wrap w-full">
          <app-rtmarco-predio-container></app-rtmarco-predio-container>
      </div>
  </div>
</div>
