@import 'styles/mixins';
@include box-shadow-z1;

<<<<<<< HEAD
.results{
  font-size: '7px'
=======
/*.results{
    font-size: '7px'
>>>>>>> 9bc3c7b26f65e0bb58ea916810f1a560f0755706
}

<<<<<<< HEAD
input{
  height: 20px !important;
}

input::placeholder {
  font-size: 12px !important;
}

mat-label {
  font-weight: 500 !important;
  font-size: 12px !important;
}

.bg-selected {
  color: #3c5364 !important;
  font-weight: 600;
}

.bg-selected-result {
  background-color: #ECF2F9 !important;
  box-shadow: -3px 4px 4px rgb(145 143 143 / 42%);
  mat-icon {
    color:#0689b1 !important ;
  };
}
=======
}*/
>>>>>>> 9bc3c7b26f65e0bb58ea916810f1a560f0755706
