<!-- search toggle -->
<ng-container *ngIf="btnShow">
<div [style.width]="width" class="flex items-center justify-center cursor-pointer bg-card p-1 px-2 rounded-sm box-shadow-z1"
    ([ngModel])="showSelected"
    (click)="openPanel()" #searchOrigin>
    <mat-icon svgIcon="mat_outline:search"></mat-icon>
    <input matInput placeholder="Buscar predio" class="w-full ml-2" readonly [(ngModel)]="showSelected">
</div>
</ng-container>
<!-- seacrch panel -->
<ng-template #searchPanel>
<div class="flex flex-col bg-card">
    <div class="flex gap-8">
        <div 
            *ngFor ="let option of options"
            (click) = "onOpenOption(option)"
            class="flex flex-col justify-center items-center w-min text-center">
            <mat-icon [svgIcon]="option.icon"></mat-icon>
            <span>{{option.option}}</span>
        </div>
    </div>
    <div class="flex flex-col w-full bg-card py-4 px-2 rounded-sm shadow-2xl ">
      
        <div>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedIndexChange)="onTabChange($event)">
                <mat-tab label="Partida Registral"> 
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Partida regitral</mat-label>
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput placeholder="Ejem: P01247899"
                            [(ngModel)]="searchForm.pr" name="pr" 
                            (change)="onChangePr($event.target.value)" />
                    </mat-form-field>

                    <ng-container *ngIf="this.results && this.results.length>0;else  noResults" [ngSwitch]="selectedOption">
                            <div *ngFor="let r of results">
                                <div> {{r.PARTIDA}}
            
                                    <button mat-icon-button class="mat-primary" type="button" (click)="onGo(r)" matTooltip="it">
                                        <mat-icon [svgIcon]="'heroicons_solid:eye'"
                                            style="color: #0090f8 !important;"></mat-icon>
                                    </button>
                                </div>
            
                            </div>
                        </ng-container>
                </mat-tab>

                <mat-tab label="Dirección">
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Tipo de Via</mat-label>
                        <mat-icon svgIcon="mat_solid:merge_type"></mat-icon>
                        <mat-select required placeholder="Via"
                            (selectionChange)=onSelectionChangeVia($event.value,$event)>
                            <!--<mat-option value="option.cod"
                                *ngFor="let option of options, trackBy: trackByFn">{{option.option}}</mat-option>-->
                            <mat-option *ngFor="let domain of masterDomain.codStreet" [value]="domain.id">
                                {{domain.name}}</mat-option>
                        </mat-select>

                        <!--<mat-select formControlName="streetType" [disabled]="!landActive">
                            <mat-option *ngFor="let domain of masterDomain.codStreet" [value]="domain.id"> {{domain.name}}</mat-option>
                        </mat-select>
                    -->
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Dirección</mat-label>
                        <mat-icon svgIcon="mat_outline:location_on"></mat-icon>
                        <input matInput required placeholder="Ejem: Cusco" 
                            (change)="onChangeVia($event.target.value)" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Nro de puerta</mat-label>
                        <mat-icon svgIcon="mat_outline:door_front"></mat-icon>
                        <input type="number" matInput placeholder="Ejem: 758" 
                            (change)="onChangeDoor($event.target.value)" />
                    </mat-form-field>
                </mat-tab>

                <mat-tab label="Hab. Urbana">
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Tipo de Habilitacion</mat-label>
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <mat-select required placeholder="Escoga tipo"
                            (selectionChange)=onSelectionChangeUU($event.value)>
                            <!--<mat-option value="option.cod"
                                *ngFor="let option of options, trackBy: trackByFn">{{option.option}}</mat-option>-->
                            <mat-option *ngFor="let domain of masterDomain.uuType" [value]="domain.id">
                                {{domain.name}}</mat-option>
                        </mat-select>


                    </mat-form-field>
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Habilitación urbana</mat-label>
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput required placeholder="Ejem: Las Rosas " 
                            (change)="onChangehabUrb($event.target.value)" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Mz</mat-label>
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput required placeholder="Ejem: 04" 
                            (change)="onChangeMz($event.target.value)" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Lt</mat-label>
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput required placeholder="Ejem: 12" 
                            (change)="onChangeLt($event.target.value)" />
                    </mat-form-field>
                </mat-tab>
              </mat-tab-group>
        </div>
        <div class="flex justify-end items-ce">
            <button mat-button type="button" class="primary" (click)="onClean()">Limpiar</button>
            <button mat-button type="button" class="primary" (click)="onSearch()">Buscar</button>
           
        </div>
  
        <ng-container *ngIf="this.results && this.results.length>0;else  noResults" [ngSwitch]="selectedOption">

            <ng-container *ngSwitchCase="1">

                <div *ngFor="let r of results">
                    <div> {{r.PARTIDA}}

                        <button mat-icon-button class="mat-primary" type="button" (click)="onGo(r)" matTooltip="it">
                            <mat-icon [svgIcon]="'heroicons_solid:eye'"
                                style="color: #0090f8 !important;"></mat-icon>
                        </button>
                    </div>

                </div>
            </ng-container>

            <ng-container *ngSwitchCase="2">
                <div class="results" *ngFor="let r of results">
                    <div> {{r?.NOM_TIPO_VIA}} {{r?.NOM_VIA}} {{r?.NUM_MUN}}

                        <button mat-icon-button class="mat-primary" type="button" (click)="onGo(r)" matTooltip="it">
                            <mat-icon [svgIcon]="'heroicons_solid:eye'"
                                style="color: #0090f8 !important;"></mat-icon>
                        </button>
                    </div>

                </div>
            </ng-container>


            <ng-container *ngSwitchCase="3">
                <div class="results" *ngFor="let r of results">
                    <div> {{r?.NOM_TIPO_UU}} {{ r?.NOM_UU }} {{ r?.MZN_URB? 'Mz.'+r?.MZN_URB:'' }} {{ r?.LOT_URB?
                        'Lt.'+r?.LOT_URB:''}}

                        <button mat-icon-button class="mat-primary" type="button" (click)="onGo(r)" matTooltip="it">
                            <mat-icon [svgIcon]="'heroicons_solid:eye'"
                                style="color: #0090f8 !important;"></mat-icon>
                        </button>
                    </div>

                </div>
            </ng-container>



        </ng-container>
        <ng-template #noResults>

            <div *ngIf=" !(init) && results && results?.length===0">No hay Resultados</div>

        </ng-template>
    </div>
</div>
 

   
</ng-template>


