<!-- search toggle -->
<ng-container>
    <div class="flex items-center justify-center cursor-pointer bg-card p-1 px-2 rounded-sm box-shadow-z1"
        ([ngModel])="showSelected" (click)="openPanel()" #searchOrigin>
        <mat-icon svgIcon="mat_outline:search"></mat-icon>
        <input matInput placeholder="Buscar predio" class="w-full ml-2 text-md" readonly [(ngModel)]="showSelected">
    </div>
</ng-container>
<!-- seacrch panel -->
<ng-template #searchPanel>
    <div class="flex flex-col bg-card py-4 shadow-md h-max w-full">
        <div class="flex gap-4 px-4 ">
            <div 
                *ngFor="let option of options" 
                (click)="onOpenOption(option)"
                [ngClass]="{'bg-selected': selectedOption === option.cod}"
                class="flex justify-center items-center w-max text-center">
                <span class="text-sm">{{option.option}}</span>
            </div>
        </div>

        <mat-divider class="my-3 border-t-4"></mat-divider>

        <ng-container [ngSwitch]="selectedOption">
            <ng-container *ngSwitchCase="'1'">
                <mat-form-field appearance="fill" class="w-full px-4">
                    <mat-label>Ingresar Partida Regitral</mat-label>
                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input 
                        matInput placeholder="Ejem: P01247899"
                        [(ngModel)]="searchForm.pr" name="pr"
                        (change)="onChangePr($event.target.value)"
                    />
                </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="'2'">
                <div class="flex px-4 gap-2">
                    <mat-form-field  appearance="fill" class="flex-auto">
                        <mat-label>Ingresar Dirección</mat-label>

    

                        <mat-select class="w-full" (selectionChange)=onChangeVia($event.value)  
                            >
                            <mat-option *ngFor="let option of optionsDirection " [value]="option">
                                {{option.name}}
                            </mat-option>
                        </mat-select>


                                       
            
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-14">
                        <mat-label>Nro.</mat-label>
                        <input matInput placeholder="75" 
                            (change)="onChangeDoor($event.target.value)" />
                    </mat-form-field>
                    
                </div>
                
            </ng-container>

            <ng-container *ngSwitchCase="'3'">
                <div class="flex flex-col px-4">
                    <mat-form-field  appearance="fill" class="flex-auto">
                        <mat-label>Ingresar Habilitacion Urbana</mat-label>

    

                        <mat-select class="w-full" (selectionChange)=onChangehabUrb($event.value)  
                            >
                            <mat-option *ngFor="let option of optionsUU " [value]="option">
                                {{option.name}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>

                    
                    <div class="flex w-full justify-between">
                        <mat-form-field appearance="fill" class="fuse-mat-dense w-[120px]">
                            <mat-label>Mz.</mat-label>

                            <mat-select class="w-full" (selectionChange)=onChangeMz($event.value)  
                            >
                            <mat-option *ngFor="let option of optionsMz " [value]="option">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                           <!-- <input 
                                matInput placeholder="Ejemplo: A" 
                                (change)="onChangeMz($event.target.value)"/>-->
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="fuse-mat-dense w-3/6">
                            <mat-label>Lt.</mat-label>
                            <mat-select class="w-full" (selectionChange)=onChangeLt($event.value)  >
                                <mat-option *ngFor="let option of optionsLt " [value]="option"  >
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                            
                          <!--  <input 
                                matInput placeholder="Ejemplo: 5" 
                                (change)="onChangeLt($event.target.value)" />-->
                        </mat-form-field>
                    </div>

                    
                </div>

            </ng-container>

            <div class="flex items-center justify-end gap-4 px-4 mb-3">
                <button mat-stroked-button	 type="button" class="text-[#0066CC] border border-[#0066CC]  rounded-[4px]" (click)="onClean()">Limpiar</button>
                <button mat-raised-button type="button" class="bg-[#0066CC] text-white rounded-[4px]" (click)="onSearch()">Buscar</button>
            </div>
            
            <ng-container *ngIf="this.results && this.results.length>0;else  noResults" [ngSwitch]="selectedOption">

                <div 
                    fuseScrollbar
                    [fuseScrollbarOptions]="{wheelPropagation: false, suppressScrollX: true}"
                    class="flex flex-col w-[300px]  max-h-80 ">

                    <mat-divider class="mb-3 border-t-2"></mat-divider>
                    <!-- <span class="text-base font-semibold my-3 px-4">Resultado </span> -->

                    <ng-container *ngSwitchCase="1">
                        <div class="flex flex-col h-auto max-h-72 w-full">
                            <ng-container *ngFor="let r of results">
                                <div 
                                    [ngClass]="{'bg-selected-result': changeStyle === r.partida}"
                                    class="flex w-full items-center justify-between px-4"> 
                                    <div class="flex flex-col items-start justify-center py-2 ">
                                        <span class="font-semibold text-sm">{{r?.partida}}</span>
                                        <span 
                                        class="truncate w-56 text-sm text-[#595961]" [matTooltip]="r?.name" >{{r?.name | titlecase}}</span>
                                    
                                        <!--<ng-container *ngIf="r?.DIR_URB; else noUrb">
                                            <span 
                                            class="truncate w-56 text-sm text-[#595961]">{{r?.DIR_URB | titlecase}}</span>
                                        </ng-container>
                                        <ng-template #noUrb>
                                            <span class="truncate w-56 text-sm text-[#595961]">{{r?.NOM_UU | titlecase }} {{ r?.MZN_URB | titlecase }} {{ r?.LOT_URB | titlecase }}</span>
                                        </ng-template>-->
                                    </div>

                                    <button mat-icon-button  type="button" (click)="onGo(r)" matTooltip="ver">
                                        <mat-icon svgIcon="mat_solid:double_arrow"></mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
    
                    <ng-container *ngSwitchCase="2">
                        <div class="results" *ngFor="let r of results">
                            <div class="flex w-full items-center justify-between px-4"> 
                                <span  class="font-semibold text-sm"> {{r?.name}} </span>
                                <button mat-icon-button  type="button" (click)="onGo(r)" matTooltip="ver">
                                    <mat-icon svgIcon="mat_solid:double_arrow"></mat-icon>
                                </button>
                            </div>
    
                        </div>
                    </ng-container>
                    
                    <!--<ng-container *ngSwitchCase="3">
                        <div class="results" *ngFor="let r of results">
                            <div 
                                [ngClass]="{'bg-selected-result': changeStyle === r.id}"
                                class="flex w-full items-center justify-between px-4"> 
                                <span class="font-semibold text-sm">
                                    <span 
                                    class="truncate w-56 text-sm text-[#595961]" [matTooltip]="r?.name" >{{r?.name | titlecase}}</span>
                                </span>
    
                                <button mat-icon-button  type="button" (click)="onGo(r)" matTooltip="ver">
                                    <mat-icon svgIcon="mat_solid:double_arrow"></mat-icon>
                                </button>
                            </div>
    
                        </div>
                    </ng-container>-->
                </div>
            </ng-container>
            <ng-template #noResults>
                <div class="p-4 "
                    *ngIf=" !(init) && results && results?.length===0">No se han encontrado resultados</div>

            </ng-template>
        </ng-container>
    </div>
</ng-template>