<!-- search toggle -->
<div class="flex items-center justify-center cursor-pointer bg-card p-1 px-2 rounded-sm" (click)="openPanel()"
    #searchOrigin>
    <mat-icon svgIcon="mat_outline:search"></mat-icon>
    <input type="search" placeholder="Buscar predio" class="w-full ml-2" readonly>
</div>

<!-- seacrch panel -->
<ng-template #searchPanel>
    <div class="flex w-[240px] bg-card p-2">
        <div>

        </div>
        <form [formGroup]="searchForm" class="container overflow-hidden rounded-sm  p-2 w-full">
            <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                <mat-label>Buscar por:</mat-label>
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <mat-select required placeholder="Opciones" (selectionChange)=onSelectionChange($event.value)>
                    <mat-option
                        *ngFor="let option of options, trackBy: trackByFn" value="{{option.cod}}">{{option.option}}</mat-option>
                </mat-select>
            </mat-form-field>

            <ng-container [ngSwitch]="selectedOption">
                <ng-container *ngSwitchCase="1">
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Partida regitral</mat-label>
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput required placeholder="Ejem: P01247899" (change)="onChangePr($event.target.value)" />
                    </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="2">
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Tipo de Via</mat-label>
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <mat-select required placeholder="Via"  (selectionChange)=onSelectionChangeVia($event.value)>
                            <!--<mat-option value="option.cod"
                                *ngFor="let option of options, trackBy: trackByFn">{{option.option}}</mat-option>-->
                                <mat-option *ngFor="let domain of masterDomain.codStreet" [value]="domain.id"> {{domain.name}}</mat-option>
                        </mat-select>

                        <!--<mat-select formControlName="streetType" [disabled]="!landActive">
                            <mat-option *ngFor="let domain of masterDomain.codStreet" [value]="domain.id"> {{domain.name}}</mat-option>
                        </mat-select>
                    -->
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Via</mat-label>
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput required placeholder="Ejem: Cusco" formControlName="via" (change)="onChangeVia($event.target.value)" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Nro de puerta</mat-label>
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput  placeholder="Ejem: 758" formControlName="door" (change)="onChangeDoor($event.target.value)"/>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="3">
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Hab. urbana</mat-label>
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput required placeholder="Ejem: Hab. urbana Las Rosas " formControlName="habUrb" (change)="onChangehabUrb($event.target.value)" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Mz</mat-label>
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput required placeholder="Ejem: 04" formControlName="mz" (change)="onChangeMz($event.target.value)" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="fuse-mat-dense w-full">
                        <mat-label>Lt</mat-label>
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput required placeholder="Ejem: 12" formControlName="lt" (change)="onChangeLt($event.target.value)"/>
                    </mat-form-field>
                </ng-container>
            </ng-container>

            <button mat-button type="button" class="primary" (click)="onSearch()">Buscar</button>
            <ng-container *ngIf="this.results && this.results.length>0;else  noResults" [ngSwitch]="selectedOption" >

                <ng-container *ngSwitchCase="1">

                    <div *ngFor="let r of results">
                        <div>  {{r.PARTIDA}}

                            <button mat-icon-button class="mat-primary" type="button"
                            (click)="onGo(r)"
                            matTooltip="it">
                            <mat-icon [svgIcon]="'heroicons_solid:eye'"  style="color: #0090f8 !important;"></mat-icon>
                            </button>
                        </div>

                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="2">
                    <div class="results" *ngFor="let r of results">
                        <div >  {{r?.COD_VIA}} {{r?.NOM_VIA}} {{r?.NUM_MUN}}

                            <button mat-icon-button class="mat-primary" type="button"
                            (click)="onGo(r)"
                            matTooltip="it">
                            <mat-icon [svgIcon]="'heroicons_solid:eye'"  style="color: #0090f8 !important;"></mat-icon>
                            </button>
                        </div>

                    </div>
                </ng-container>



            </ng-container>
            <ng-template #noResults>

                <div *ngIf=" !(init) && results && results?.length===0"  >No hay Resultados</div>

            </ng-template>

        </form>


    </div>
</ng-template>
