<!--

<div #filterElement id="filterElement" [ngStyle]="{'visibility': visibility ,'background-color':'white' ,width:'350px',padding:'5px'}">

    <app-filters  (buscarEventEmitter)="buscar($event)" (descargarEventEmmiterr)="descargar($event)"  (cargarEventEmmiterr)="cargar($event)" >
    </app-filters>
</div>

<div #mapViewNode ></div>
<div class="container" [ngStyle]="{'visibility': visibility ,'background-color':'white' ,width:'100%',padding:'5px',display:displayTable }">
    <div #tableDiv id="tableDiv">
    </div>
</div>


<link
  rel="stylesheet"
  href="https://js.arcgis.com/4.17/esri/themes/light/main.css"
/>



-->


<!--<script src="terraformer.min.js"></script>
<script src="terraformer-arcgis-parser.min.js"></script>
-->
<div class="map">

    

    <!--<app-map>

    </app-map>-->

   
<app-land-registry-geolocation></app-land-registry-geolocation>

   
   <!--<app-show-map-point [points]="[{latitude: -13.53063, longitude: -71.955921}]" ></app-show-map-point>-->
    <!--<app-show-map-point [points]="[{latitude: -13.53063, longitude: -71.955921},{latitude: -13.54, longitude: -71.955921}]" ></app-show-map-point>-->
</div>

