<!--

<div #filterElement id="filterElement" [ngStyle]="{'visibility': visibility ,'background-color':'white' ,width:'350px',padding:'5px'}">

    <app-filters  (buscarEventEmitter)="buscar($event)" (descargarEventEmmiterr)="descargar($event)"  (cargarEventEmmiterr)="cargar($event)" >
    </app-filters>
</div>

<div #mapViewNode ></div>
<div class="container" [ngStyle]="{'visibility': visibility ,'background-color':'white' ,width:'100%',padding:'5px',display:displayTable }">
    <div #tableDiv id="tableDiv">
    </div>
</div>


<link
  rel="stylesheet"
  href="https://js.arcgis.com/4.17/esri/themes/light/main.css"
/>



-->


<div class="map">

    <app-map>

    </app-map>

</div>

