<mat-drawer-container (backdropClick)="onBackdropClicked()"
                      class="flex-auto h-full bg-card dark:bg-transparent">

    <!-- Drawer -->
    <mat-drawer
        class="w-full sm:w-100 dark:bg-gray-900"
        [mode]="drawerMode"
        [opened]="false"
        [position]="'end'"
        [disableClose]="true"
        #matDrawer>
        <router-outlet></router-outlet>
    </mat-drawer>

    <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">

        <!-- Main -->
        <div class="flex flex-col flex-auto">

            <!-- Header -->
            <div
                class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
                <!-- Title -->
                <div>
                    <div class="text-4xl font-extrabold tracking-tight leading-none">{{ title }}</div>
                </div>

                <!-- Main actions -->
                <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                    <!-- Add contact button -->
                    <button
                        class="ml-4"
                        mat-flat-button
                        (click)="redirectPage()"
                        [color]="'primary'">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-1">Agregar rol</span>
                    </button>
                </div>
            </div>

            <div class="p-6">
                <div class="flex flex-col gap-4 w-full">

                    <div class="flex flex-row sm:flex-row items-end justify-end w-full max-w-xs sm:max-w-none"
                    [formGroup]="filters">
                        <mat-form-field
                            class="fuse-mat-no-subscript w-full sm:w-72 sm:mt-0"
                            [floatLabel]="'always'">
                            <mat-icon
                                matPrefix
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:search'"></mat-icon>
                            <input
                                formControlName="search"
                                placeholder="Buscar"
                                matInput>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col">
                        <table mat-table [dataSource]="dataSource" class="shadow bg-card w-full">

                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

                            <ng-container matColumnDef="nro">
                                <th mat-header-cell *matHeaderCellDef> Nro. </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element?.id }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Nombre del Rol </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element?.name }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element?.description || '-' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-icon [color]="element?.isActive ? 'primary' : 'warn'"
                                              [svgIcon]="element?.isActive ?
                                              'heroicons_solid:check-circle'
                                              : 'heroicons_solid:x-circle'">
                                    </mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>*</th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <button mat-icon-button class="mat-primary"
                                            (click)="redirectPage(element.id)"
                                            matTooltip="ver detalle">
                                        <mat-icon [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                    </button>

                                    <button mat-icon-button class="mat-warn"
                                            (click)="delete(element?.id)"
                                            matTooltip="eliminar usuario">
                                        <mat-icon [svgIcon]="'heroicons_solid:x-circle'"></mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [length]="count"
                                       [pageIndex]="0"
                                       [pageSize]="10"
                                       [pageSizeOptions]="[5, 10, 25, 50, 100, 250, 500]">
                        </mat-paginator>
                    </div>
                </div>
            </div>

        </div>

    </mat-drawer-content>

</mat-drawer-container>





