@import "~styles/mixins";

@include btn-success;
@include input-btn-icon;
@include box-shadow-z1;

:host{
    .container{
        background-color: white;
        padding: 18px;
        border-radius: 8px;
        margin-top: 10px;
        font-size: 14px;
        color: #4E4E4E;
        position: relative;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-wrap: wrap;
    }

    p{
        margin-bottom: 6px;
    }

    .subtitle-card{
        font-size: 16px;
        line-height: 15px;
        font-weight: 700;
        color: #666699;
        width: 100%;
    }

    .edit-container{
        position: absolute;
        top: -9px;
        right: -9px;
        height: 46px;
        border-radius: 51%;
        background-color: #54C8FA;
        width: 46px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        mat-icon{
            color: white;
        }
    }
}