<section class="container mt-4">
    <h3 class="subtitle-card mb-2">Datos del contribuyente</h3>
    <p class="w-full"><b>Contribuyente:</b> Tanganminopulus Sergio Del MontBlank Rosa y Candela</p>
    <p class="w-3/12"><b>{{tipo_doc}} :</b> 45797127</p>
    <p><b>Telefono:</b> 01 7894561</p>
    <p class="w-full"><b>Email:</b> TanganminopulusSergioFranciscoDelMontBlank@gmail.com</p>

    <h3 class="subtitle-card mb-2 mt-6">Domicilio Fiscal</h3>
    <p class="w-full"><b>Ubigeo:</b> San Juan de Lurigancho - Lima</p>
    <p class="w-4/12"><b>Urbanización:</b> Mangomarca</p>
    <p><b>Código de Habilitación:</b> 123456789</p>
    <p class="w-full"><b>Mz.</b>  G <b class="ml-2">Lt. </b>15  <b class="ml-2">Nro. C.</b> 15 <b class="ml-2">Lado</b> 2  <b class="ml-2">Nro. Puerta</b> 21117   </p>

    <button class="edit-container" (click)="emitShowFormEdit()">
        <mat-icon svgIcon="mat_outline:edit"></mat-icon>
    </button>
</section>