<section class="flex flex-col p-4 shadow rounded-md overflow-hidden bg-card mt-4" *ngIf="landOwner">
    <div class="text-lg mb-3 font-semibold tracking-[-0.5px]">Datos del contribuyente</div>
    <div class="flex w-full">
        <div class="w-full">
            <b class="font-medium">Contribuyente : </b>
            <ng-container *ngIf="landOwner.isBussiness;else documentGeneral">
                {{ landOwner.name }}
            </ng-container>
            <ng-template #documentGeneral>
                {{ landOwner.name | titlecase }} {{ landOwner.paternalSurname | titlecase}} {{ this.landOwner.maternalSurname | titlecase }}
            </ng-template>
        </div>
        <div class="w-[200px]">
            <b class="font-medium" >{{ landOwner.documentType | documents }} : </b> {{ landOwner.dni }}
        </div>

    </div>

   <!-- <p><b>Telefono:</b> {{ landOwner.phone }}</p>
    <p class="w-full"><b>Email:</b> {{ landOwner.email }}</p>
   -->

  <!--
    <h3 class="subtitle-card mb-2 mt-6">
        <div (click)="showAddress = !showAddress" class="cursor-pointer flex items-center w-max">
            Domicilio Fiscal
            <mat-icon [svgIcon]="showAddress? 'heroicons_solid:chevron-up':'heroicons_solid:chevron-down'">
            </mat-icon>
        </div>
    </h3>
    <ng-container *ngIf="showAddress">
        <p class="w-full"><b>Ubigeo:</b> {{ landOwner.address?.ubigeo }}</p>
        <p class="w-full">
            <b>Tipo de Habilitación:</b> {{ landOwner.address?.uuType }}
            <b>Código de Habilitación:</b> {{ landOwner.address?.codUu }}
        </p>
        <p class="w-full">
            <b>Nombre de Habilitación:</b> {{ landOwner.address?.habilitacionName }}
        </p>
        <p class="w-full">
            <b>Tipo de vía:</b> {{ landOwner.address?.streetType }}
            <b>Código de vía:</b> {{ landOwner.address?.codStreet }}
        </p>
        <p class="w-full">
            <b>Nombre de vía:</b> {{ landOwner.address?.streetName }}
        </p>
        <p class="w-full"><b>Urbanización:</b> {{ landOwner.address?.urbanMza }}</p>
        <p class="w-full">
            <b>Mz.</b>
            <b class="ml-2">Km. </b> {{ landOwner.address?.km }}
            <b class="ml-2">Lt. </b> {{ landOwner.address?.urbanLotNumber }}
            <b class="ml-2">Piso. </b> {{ landOwner.address?.floor }}
            <b class="ml-2">Interior. </b> {{ landOwner.address?.indoor }}

        </p>
    </ng-container>

-->
        <!-- <button class="edit-container" (click)="emitShowFormEdit()">
            <mat-icon svgIcon="mat_outline:edit"></mat-icon>
        </button> -->
</section>
