:root {
    ---black: #1E293B;
}

.title-primary {
    font-weight: bold;
    color: var(---black);
    font-size: 18px;
}

.arrow-back {
    color: #0090F8;
    height: 24px;
    width: 24px;
}


.container {
    height: calc(100vh - 64px);
    padding-top: 24px;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0090F8;
    padding: 8px ;
    color: white ;
    border-radius: 7px;

}


.title {
    background-color: #DE3F43 ;
    color: white;
    font-weight: bold ;
    padding: 10px 15px;
}


:host ::ng-deep .example-accordion-item-header {
    background-color: #bfbdbd !important ;
    color: #041430 !important;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}
