:root {
    ---black: #1E293B;
}

.title-primary {
    font-weight: bold;
    color: var(---black);
    font-size: 18px;
}

.arrow-back {
    color: #0090F8;
}


mat-accordion {
    .mat-expansion-panel {
        border-radius: 1px !important;
        box-shadow: none !important;
        border-bottom: 1px solid #DAE8F2;
        &.mat-expanded,
        &:hover {
            box-shadow: none !important;
        }
    }
    .mat-expansion-panel-header-title {
        color: #0D2753;
        font-weight: bold ;
    }

}

:host ::ng-deep .mat-expansion-indicator:after {
    color: #0090F8 !important;
    height: 12px;
    width: 12px;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0090F8;
    padding: 8px ;
    color: white ;
    border-radius: 7px;

}

.container {
    height: calc(100vh - 64px);
    padding: 32px 16px;


}

.mat-icon {
    height: 48px;
    width: 50px;
}
